In [159]:
import pandas as pd
import json

In [ ]:
with open("appraisals_dataset.json", "r") as file:
    data = pd.read_json(file)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 261693: character maps to <undefined>

In [ ]:
df = pd.json_normalize(data['appraisals'].tolist())

df.to_csv('appraisals_dataset.json', index = False)

display(df.head())

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,subject.room_count,subject.num_beds,subject.room_total,subject.main_lvl_area,subject.second_lvl_area,subject.third_lvl_area,subject.gla,subject.subject_age,subject.num_baths,subject.condition
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,n/a,SqFt,...,6,3,6,522,522,,1044,49,1:1,Average
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,6,3,6,1060,440,,1500 SqFt,14+/-yrs,2:1,Average
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,9,4,9,1660,1340,,3000 SqFt,42,2:1,Average
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,5,2,5,,,,1283 SqFt,2012 +/-,3:0,Good
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,N/A,N/A,...,6,3,6,1530,,,1530 SqFt,47+/-yrs,2:0,Average

In [ ]:
df = pd.DataFrame(data)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   appraisals  88 non-null     object
dtypes: object(1)
memory usage: 832.0+ bytes
None

In [ ]:
normalized_df = pd.json_normalize(data['appraisals'])

print(normalized_df.shape)

(88, 38)

In [ ]:
numeric_cols = normalized_df.select_dtypes(include=['object']).columns
for col in numeric_cols:
    try:
        normalized_df[col] = pd.to_numeric(normalized_df[col], errors='ignore')
    except:
        pass

C:\Users\edwar\AppData\Local\Temp\ipykernel_18852\4092625908.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  normalized_df[col] = pd.to_numeric(normalized_df[col], errors='ignore')

In [ ]:
missing_values = normalized_df.isnull().sum().sum()
print(missing_values)

155

In [ ]:
normalized_df.head()

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,subject.room_count,subject.num_beds,subject.room_total,subject.main_lvl_area,subject.second_lvl_area,subject.third_lvl_area,subject.gla,subject.subject_age,subject.num_baths,subject.condition
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,n/a,SqFt,...,6.0,3,6.0,522,522.0,NaN,1044,49,1:1,Average
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,6.0,3,6.0,1060,440.0,NaN,1500 SqFt,14+/-yrs,2:1,Average
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,9.0,4,9.0,1660,1340.0,NaN,3000 SqFt,42,2:1,Average
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,5.0,2,5.0,,NaN,NaN,1283 SqFt,2012 +/-,3:0,Good
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,N/A,N/A,...,6.0,3,6.0,1530,NaN,NaN,1530 SqFt,47+/-yrs,2:0,Average

In [ ]:
print(normalized_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   orderID                            88 non-null     int64
 1   comps                              88 non-null     object
 2   properties                         88 non-null     object
 3   subject.address                    88 non-null     object
 4   subject.subject_city_province_zip  88 non-null     object
 5   subject.effective_date             88 non-null     object
 6   subject.municipality_district      87 non-null     object
 7   subject.site_dimensions            88 non-null     object
 8   subject.lot_size_sf                88 non-null     object
 9   subject.units_sq_ft                87 non-null     object
 10  subject.year_built                 87 non-null     object
 11  subject.structure_type             87 non-null     object
 12  subject.roofing                    87 non-null     object
 13  subject.effective_age              87 non-null     object
 14  subject.style                      88 non-null     object
 15  subject.construction               87 non-null     object
 16  subject.remaining_economic_life    87 non-null     object
 17  subject.windows                    87 non-null     object
 18  subject.basement                   88 non-null     object
 19  subject.exterior_finish            87 non-null     object
 20  subject.basement_area              87 non-null     object
 21  subject.foundation_walls           87 non-null     object
 22  subject.flooring                   87 non-null     object
 23  subject.plumbing_lines             87 non-null     object
 24  subject.heating                    87 non-null     object
 25  subject.fuel_type                  87 non-null     object
 26  subject.water_heater               87 non-null     object
 27  subject.cooling                    87 non-null     object
 28  subject.room_count                 87 non-null     float64
 29  subject.num_beds                   87 non-null     object
 30  subject.room_total                 87 non-null     float64
 31  subject.main_lvl_area              87 non-null     object
 32  subject.second_lvl_area            43 non-null     float64
 33  subject.third_lvl_area             1 non-null      float64
 34  subject.gla                        88 non-null     object
 35  subject.subject_age                88 non-null     object
 36  subject.num_baths                  87 non-null     object
 37  subject.condition                  88 non-null     object
dtypes: float64(4), int64(1), object(33)
memory usage: 26.2+ KB
None

<h3>Parsing Data<h3>
<p>Columns were focusing on<p>
<ul>
    <li>subject.gla</li>
    <li>subject.structure_type</li>
    <li>subject.num_beds</li>
    <li>subject.num_baths</li>
    <li>subject.condition</li>
    <li>subject.lot_size_sf</li>
    <li>subject.subject_city_province_zip</li>
    <li>subject.municipality_district</li>
    <li>subject.year_built(easier to parse)</li>
<ul>

In [ ]:
import numpy as np

In [ ]:
normalized_df['subject.gla'].unique()

array(['1044', '1500 SqFt', '3000 SqFt', '1283 SqFt', '1530 SqFt',
       '1746 SqFt', '1602 SqFt', '1751 SqFt', '1523 SqFt', '2456 SqFt',
       '3332+/-SqFt', '1525 SqFt', '2895 SqFt', '1,678 SqFt', '2264 SqFt',
       '2530 SqFt', '2149 SqFt', '1840 SqFt', '1354 SqFt', '1573.40 SqFt',
       '78 SqM', '2974 SqFt', '2956 SqFt', '1109 SqFt', '1580 SqFt',
       '1587 SqFt', '90 SqM', '1039 SqFt', '261 SqM', '789 SqFt',
       '1094 SqFt', '1176 SqFt', '1334 SqFt', '2010 SqFt', '246 SqM',
       '1400 SqFt', '864 SqFt', '1774 SqFt', '1795 SqFt', '3137 SqFt',
       '1132 SqFt', '1788 SqFt', '1637 SqFt', '1822 SqFt', '1386 SqFt',
       '522 SqFt', '1607 SqFt', '2755 SqFt', '1634 SqFt', '1170 SqFt',
       '1,840 SqFt', '1845 SqFt', '1488 SqFt', '2131 SqFt', '1504 SqFt',
       '1643 SqFt', '1236 SqFt', '1700 SqFt', '1992 SqFt', '2242 SqFt',
       '758 SqFt', '2231.68 SqFt', '2115 SqFt', '1149 SqFt', '1372 SqFt',
       '1178 SqFt', '2203 SqFt', '1675 SqFt', '1952 SqFt', '2773 SqFt',
       '2304 SqFt', '1050 SqFt', '2061 SqFt', '3543.10 SqFt', '2352 SqFt',
       '2385 SqFt', '186 SqM', '1290 SqFt', '1451 SqFt', '678 SqFt',
       '665 sf', '584 sf', '1746.79 SqFt', '1144 SqFt', '2,138 SqFt',
       '2250 SqFt', '1254 SqFt'], dtype=object)

In [ ]:
def parse_gla(value):
    if pd.isna(value):
        return np.nan

    value = value.replace(',', '')
    
    if 'SqM' in value or 'sqm' in value.lower():
        try:
            num = float(value.split()[0])
            return num * 10.764
        except:
            return np.nan
    
    value.replace('+/-', '')
    
    if "SqFt" in value or 'sqft' in value.lower() or 'sf' in value.lower():
        try:
            num = ''.join(c for c in value if (c.isdigit() or c == '.'))
            return float(num)
        except:
            return np.nan
        
    try:
        return float(value)
    except:
        return np.nan
    
normalized_df['gla_sqft'] = normalized_df['subject.gla'].apply(parse_gla)

In [ ]:
normalized_df['gla_sqft']

0     1044.00
1     1500.00
2     3000.00
3     1283.00
4     1530.00
       ...
83    1746.79
84    1144.00
85    2138.00
86    2250.00
87    1254.00
Name: gla_sqft, Length: 88, dtype: float64

In [ ]:
normalized_df['subject.num_beds'].unique()

array(['3', '4', '2', '5', '1', '7', '3+1', '2+2', nan, '8'], dtype=object)

In [ ]:
def parse_num_beds(value):
    if pd.isna(value):
        return np.nan
    value = str(value).strip()
    
    if '+' in value:
        try:
            return sum(int(part) for part in val.split('+'))
        except:
            return np.nan
        
    try:
        return int(value)
    except:
        return np.nan
    
normalized_df['beds_num'] = normalized_df['subject.num_beds'].apply(parse_num_beds)

In [ ]:
normalized_df['beds_num'].unique()

array([ 3.,  4.,  2.,  5.,  1.,  7., nan,  8.])

In [ ]:
normalized_df['subject.num_baths'].unique()

array(['1:1', '2:1', '3:0', '2:0', '2F 1H', '3:1', '2:2', '1:0', '2F',
       '2 Full/1Half', '3F 1H', '3F', '4F', '3:2', '1F', '2', nan,
       '1F 1H'], dtype=object)

In [ ]:
import re

In [ ]:
def parse_baths_num(value):
    if pd.isna(value):
        return np.nan

    value = str(value).strip().upper()
    
    # Format: "2:1" → 2 full, 1 half
    if ':' in value:
        try:
            full, half = map(int, value.split(':'))
            return full + 0.5 * half
        except:
            return np.nan

    # Format: "2F 1H" or "1F 1H"
    match = re.match(r'(?:(\d+)F)?\s*(?:(\d+)H)?', value)
    if match:
        full = int(match.group(1)) if match.group(1) else 0
        half = int(match.group(2)) if match.group(2) else 0
        return full + 0.5 * half

    # Format: "2F", "1F", "3F" (only full baths)
    if value.endswith('F') and value[:-1].isdigit():
        return int(value[:-1])

    # Format: "2", "3" (assume full baths only)
    if value.isdigit():
        return int(value)

    # Format: "2 Full/1Half"
    match_alt = re.match(r'(\d+)\s*FULL\s*/\s*(\d+)HALF', value)
    if match_alt:
        return int(match_alt.group(1)) + 0.5 * int(match_alt.group(2))

    return np.nan

normalized_df['baths_num'] = normalized_df['subject.num_baths'].apply(parse_baths_num)

In [ ]:
normalized_df['baths_num'].unique()

array([1.5, 2.5, 3. , 2. , 3.5, 1. , 0. , 4. , nan])

In [ ]:
normalized_df['subject.lot_size_sf'].unique()

array(['n/a', '72745+/-SqFt', '20174 SqFt', '1.25 Acres', 'N/A',
       '6825 SqFt', '3694 SqFt', '3358 SqFt', '549 SqM', '42495 SqFt',
       '2619 SqFt', '26700 SqFt', '5,663 SqFt', '33943+/-SqFt',
       '5987 SqFt', '10.057 Acres', '1742 SqFt', '3250 SqFt', '377 SqM',
       '431 SqM', '605 SqM', '3601 SqFt', '330 SqM', '1868 SqFt',
       '626 SqM', '761 SqM', 'SqFt', '12600 SqFt', 'N/A-CONDO LAND',
       '3253 SqFt', '33661 SqFt', '458 SqM', '37374 SqFt', '15936 SqFt',
       '3137 SqFt', '6300 SqFt', '14375 SqFt', '3500 SqFt', '14232 SqFt',
       '6000 SqFt', '911 SqFt', '8398 SqFt', '6452 SqFt', '7541 SqFt',
       '7,007 SqFt', '10570 SqFt', '3,685 SqFt', '6,864 SqFt',
       '2899 SqFt', '2780 SqFt', '1.22  Acres', '7059 SqFt', '6480 SqFt',
       'N/A Condominium', '416 SqM', '255 SqM', '332 SqM', '381 SqM',
       'n/a-condo land', '344 SqM', '0.5ac', '931 SqM', '5 Acres',
       '23046 SqFt', '10,014 SqFt', '878 SqM', '699 SqM', '4768 SqFt',
       '4919 sqft', '580 SqM', '5791 SqFt', '3625 SqFt', 'na', '759 SqM',
       '541 SqM', '10 Acres', '14 Acres'], dtype=object)

In [ ]:
def parse_lot_size(value):
    if pd.isna(value):
        return np.nan

    value = str(value).strip().lower().replace(',', '').replace('+/-', '')

    # Handle acres (e.g., "1.25 acres", "0.5ac")
    if 'acre' in value or 'ac' in value:
        try:
            number = float(re.findall(r'[\d.]+', value)[0])
            return number * 43560
        except:
            return np.nan

    # Handle square meters (e.g., "549 sqm")
    if 'sqm' in value or 'sq m' in value:
        try:
            number = float(re.findall(r'[\d.]+', value)[0])
            return number * 10.7639
        except:
            return np.nan

    # Handle square feet (e.g., "10570 sqft", "10570 sq ft")
    if 'sqft' in value or 'sq ft' in value:
        try:
            return float(re.findall(r'[\d.]+', value)[0])
        except:
            return np.nan

    # Handle numbers without units (assume they're in square feet)
    try:
        return float(re.findall(r'[\d.]+', value)[0])
    except:
        return np.nan
    
normalized_df['lot_size_sqft'] = normalized_df['subject.lot_size_sf'].apply(parse_lot_size)

In [ ]:
normalized_df['lot_size_sqft'].unique()

array([        nan,  72745.    ,  20174.    ,  54450.    ,   6825.    ,
         3694.    ,   3358.    ,   5909.3811,  42495.    ,   2619.    ,
        26700.    ,   5663.    ,  33943.    ,   5987.    , 438082.92  ,
         1742.    ,   3250.    ,   4057.9903,   4639.2409,   6512.1595,
         3601.    ,   3552.087 ,   1868.    ,   6738.2014,   8191.3279,
        12600.    ,   3253.    ,  33661.    ,   4929.8662,  37374.    ,
        15936.    ,   3137.    ,   6300.    ,  14375.    ,   3500.    ,
        14232.    ,   6000.    ,    911.    ,   8398.    ,   6452.    ,
         7541.    ,   7007.    ,  10570.    ,   3685.    ,   6864.    ,
         2899.    ,   2780.    ,  53143.2   ,   7059.    ,   6480.    ,
         4477.7824,   2744.7945,   3573.6148,   4101.0459,   3702.7816,
        21780.    ,  10021.1909, 217800.    ,  23046.    ,  10014.    ,
         9450.7042,   7523.9661,   4768.    ,   4919.    ,   6243.062 ,
         5791.    ,   3625.    ,   8169.8001,   5823.2699, 435600.    ,
       609840.    ])

In [ ]:
normalized_df['subject.year_built'].unique()

array(['1976', '2011', '1983', '2012 +/-', '1978', '1985', '1941', '2021',
       '2006', '2019', '2024', '2000', '1982', '2010', '2002', '1968',
       '1890', '1993', '2016', '1952', '2018', '2017', '1951', '2008',
       '2013', '2004', '2003', 'New', '1972', '1845', '1995', '1990 +/-',
       '1961', '1970', '1910', '2025', '1940', '1989', '1885', '1900',
       '2016 +/-', '1974', '2022', '2021 +/-', '1990', '2015', '1998',
       '1975', '2007', '1950', '1988', nan, '1971', '1992', '1999',
       '1979', '1977', '1920'], dtype=object)

In [ ]:
from datetime import datetime

In [ ]:
def parse_year_to_age(value):
    if pd.isna(value):
        return np.nan
    
    value = str(value).strip().lower()
    
    if 'new' in value:
        return datetime.now().year - 1
    
    match = re.search(r'\d{4}', value)
    if match:
        return int(match.group(0))
    
    return np.nan

normalized_df['parsed_year_built'] = normalized_df['subject.year_built'].apply(parse_year_to_age)

current_year = datetime.now().year
normalized_df['property_age'] = current_year - normalized_df['parsed_year_built']

In [ ]:
normalized_df['property_age'].unique()

array([ 49.,  14.,  42.,  13.,  47.,  40.,  84.,   4.,  19.,   6.,   1.,
        25.,  43.,  15.,  23.,  57., 135.,  32.,   9.,  73.,   7.,   8.,
        74.,  17.,  12.,  21.,  22.,  53., 180.,  30.,  35.,  64.,  55.,
       115.,   0.,  85.,  36., 140., 125.,  51.,   3.,  10.,  27.,  50.,
        18.,  75.,  37.,  nan,  54.,  33.,  26.,  46.,  48., 105.])

In [ ]:
normalized_df['subject.structure_type'].unique()

array(['Townhouse', 'Detached', 'Condominium', 'Semi Detached',
       'High Rise Apartment', 'Low Rise Apartment', 'Duplex', 'Triplex',
       nan, 'Fourplex'], dtype=object)

In [ ]:
normalized_df["subject.structure_type"] = normalized_df["subject.structure_type"].fillna("Unknown")

normalized_df = pd.get_dummies(
    normalized_df, 
    columns=["subject.structure_type"], 
    prefix="structure",
    dtype=int
)

In [204]:
normalized_df['subject.longitude'].unique()

KeyError: 'subject.longitude'

In [ ]:
normalized_df

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,structure_Condominium,structure_Detached,structure_Duplex,structure_Fourplex,structure_High Rise Apartment,structure_Low Rise Apartment,structure_Semi Detached,structure_Townhouse,structure_Triplex,structure_Unknown
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,n/a,SqFt,...,0,0,0,0,0,0,0,1,0,0
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,0,1,0,0,0,0,0,0,0,0
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,0,1,0,0,0,0,0,0,0,0
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,0,1,0,0,0,0,0,0,0,0
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,N/A,N/A,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,4778326,"[{'distance_to_subject': '0.47 KM', 'prop_type...","[{'id': 12120, 'address': '163 Hidden Valley M...",184 Sandpiper Cir NW Calgary AB T3K3P4,Calgary AB T3K3P4,May/05/2025,"Calgary, AB / Sandstone Valley",10.05m x 45.23m,759 SqM,SqM,...,0,1,0,0,0,0,0,0,0,0
84,4758996,"[{'distance_to_subject': '0.03 KM', 'prop_type...","[{'id': 10480, 'address': '10 Tipping Close SE...",160 Marquis Pl SE Airdrie AB T4A1Y7,Airdrie AB T4A1Y7,Apr/09/2025,"Airdrie, AB / Meadowbrook",14.32m x 37.80m,541 SqM,SqM,...,0,1,0,0,0,0,0,0,0,0
85,4775785,"[{'distance_to_subject': '4.67 KM', 'prop_type...","[{'id': 22737, 'address': '4232 Camden Portlan...",1841 Fisk Rd Odessa ON K0H2H0,Odessa ON K0H2H0,Apr/30/2025,"Loyalist Township, County of Lennox and Addington",830' x Irregular,10 Acres,Acres,...,0,1,0,0,0,0,0,0,0,0
86,4775292,"[{'distance_to_subject': '16.85 KM', 'prop_typ...","[{'id': 178462, 'address': '6135 Second Line '...",64232 COUNTY RD 3 East Garafraxa ON L9W7J4,East Garafraxa ON L9W7J4,May/02/2025,"Township of East Garafraxa, County of Dufferin",223.32' x 1966.85',10 Acres,Acres,...,0,1,0,0,0,0,0,0,0,0
87,4723364,"[{'distance_to_subject': '2.94 KM', 'prop_type...","[{'id': 20272, 'address': '1313 Greenwood Park...",1050 John F. Scott Rd Kingston ON K7L4V3,Kingston ON K7L4V3,Feb/13/2025,Kingston,1531.45' x Irregular,14 Acres,Acres,...,0,1,0,0,0,0,0,0,0,0

In [164]:
normalized_df.columns

Index(['orderID', 'comps', 'properties', 'subject.address',
       'subject.subject_city_province_zip', 'subject.effective_date',
       'subject.municipality_district', 'subject.site_dimensions',
       'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built',
       'subject.roofing', 'subject.effective_age', 'subject.style',
       'subject.construction', 'subject.remaining_economic_life',
       'subject.windows', 'subject.basement', 'subject.exterior_finish',
       'subject.basement_area', 'subject.foundation_walls', 'subject.flooring',
       'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type',
       'subject.water_heater', 'subject.cooling', 'subject.room_count',
       'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area',
       'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla',
       'subject.subject_age', 'subject.num_baths', 'subject.condition',
       'gla_sqft', 'beds_num', 'baths_num', 'lot_size_sqft',
       'parsed_year_built', 'property_age', 'structure_Condominium',
       'structure_Detached', 'structure_Duplex', 'structure_Fourplex',
       'structure_High Rise Apartment', 'structure_Low Rise Apartment',
       'structure_Semi Detached', 'structure_Townhouse', 'structure_Triplex',
       'structure_Unknown'],
      dtype='object')

In [165]:
normalized_df.isnull().sum()

orderID                               0
comps                                 0
properties                            0
subject.address                       0
subject.subject_city_province_zip     0
subject.effective_date                0
subject.municipality_district         1
subject.site_dimensions               0
subject.lot_size_sf                   0
subject.units_sq_ft                   1
subject.year_built                    1
subject.roofing                       1
subject.effective_age                 1
subject.style                         0
subject.construction                  1
subject.remaining_economic_life       1
subject.windows                       1
subject.basement                      0
subject.exterior_finish               1
subject.basement_area                 1
subject.foundation_walls              1
subject.flooring                      1
subject.plumbing_lines                1
subject.heating                       1
subject.fuel_type                     1
subject.water_heater                  1
subject.cooling                       1
subject.room_count                    1
subject.num_beds                      1
subject.room_total                    1
subject.main_lvl_area                 1
subject.second_lvl_area              45
subject.third_lvl_area               87
subject.gla                           0
subject.subject_age                   0
subject.num_baths                     1
subject.condition                     0
gla_sqft                              0
beds_num                              3
baths_num                             1
lot_size_sqft                        16
parsed_year_built                     1
property_age                          1
structure_Condominium                 0
structure_Detached                    0
structure_Duplex                      0
structure_Fourplex                    0
structure_High Rise Apartment         0
structure_Low Rise Apartment          0
structure_Semi Detached               0
structure_Townhouse                   0
structure_Triplex                     0
structure_Unknown                     0
dtype: int64

In [182]:
normalized_df['subject.condition'].unique()

array(['Average', 'Good', 'Excellent', 'Fair'], dtype=object)

In [183]:
condition_map = {
    "Fair": 1,
    "Average": 2,
    "Good": 3,
    "Excellent": 4
}
normalized_df["condition_encoded"] = normalized_df["subject.condition"].map(condition_map).fillna(0)

In [195]:
normalized_df.columns

Index(['orderID', 'comps', 'properties', 'subject.address',
       'subject.subject_city_province_zip', 'subject.effective_date',
       'subject.municipality_district', 'subject.site_dimensions',
       'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built',
       'subject.roofing', 'subject.effective_age', 'subject.style',
       'subject.construction', 'subject.remaining_economic_life',
       'subject.windows', 'subject.basement', 'subject.exterior_finish',
       'subject.basement_area', 'subject.foundation_walls', 'subject.flooring',
       'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type',
       'subject.water_heater', 'subject.cooling', 'subject.room_count',
       'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area',
       'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla',
       'subject.subject_age', 'subject.num_baths', 'subject.condition',
       'gla_sqft', 'beds_num', 'baths_num', 'lot_size_sqft',
       'parsed_year_built', 'property_age', 'structure_Condominium',
       'structure_Detached', 'structure_Duplex', 'structure_Fourplex',
       'structure_High Rise Apartment', 'structure_Low Rise Apartment',
       'structure_Semi Detached', 'structure_Townhouse', 'structure_Triplex',
       'structure_Unknown', 'condition_encoded'],
      dtype='object')

In [196]:
feature_cols = [
    "gla_sqft", 
    "beds_num", 
    "baths_num", 
    "lot_size_sqft", 
    "parsed_year_built", 
    "property_age", 
    "condition_encoded"
]

In [197]:
# Add all one-hot structure columns
structure_cols = [col for col in normalized_df.columns if col.startswith("structure_")]
feature_cols += structure_cols

In [198]:
from sklearn.impute import KNNImputer

knn_imputer = KNNImputer(n_neighbors=5)
X = normalized_df[feature_cols]
X_imputed_knn = knn_imputer.fit_transform(X)

# Convert to DataFrame
X_imputed_knn_df = pd.DataFrame(X_imputed_knn, columns=feature_cols)

In [201]:
X_imputed_knn_df

,gla_sqft,beds_num,baths_num,lot_size_sqft,parsed_year_built,property_age,condition_encoded,structure_Condominium,structure_Detached,structure_Duplex,structure_Fourplex,structure_High Rise Apartment,structure_Low Rise Apartment,structure_Semi Detached,structure_Townhouse,structure_Triplex,structure_Unknown
0,1044.00,3.0,1.5,8250.04028,1976.0,49.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1500.00,3.0,2.5,72745.00000,2011.0,14.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000.00,4.0,2.5,20174.00000,1983.0,42.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1283.00,2.0,3.0,54450.00000,2012.0,13.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1530.00,3.0,2.0,17201.19806,1978.0,47.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1746.79,3.0,2.5,8169.80010,1988.0,37.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84,1144.00,3.0,1.5,5823.26990,1979.0,46.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
85,2138.00,5.0,2.0,435600.00000,1900.0,125.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,2250.00,5.0,3.0,435600.00000,1977.0,48.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87,1254.00,3.0,1.5,609840.00000,1920.0,105.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [210]:
normalized_df['subject.address'].unique()

array(['142-950 Oakview Ave Kingston ON K7M 6W8',
       '7180 207 HWY Halifax NS B0J2L0', '11 PAUL AVE Ayr ON N0B1E0',
       '102 Stonewalk Dr Kemptville ON K0G 1J0',
       '407 105 Dunbrack St Halifax NS B3M3G7',
       '40 Bellroyal Crt Cole Harbour NS B2V 2B4',
       '10 Crofton Rd Toronto ON M4G2B4',
       '11 Bermondsey Way Stittsville ON K2S2Y7',
       '306 11 SPRINGVALE AVE Halifax NS B3N0A3',
       '229 SANDPIPER CRES Chestermere AB T1X0Y4',
       '164 Redmonds Rd Seabright NS B3Z3C4',
       '11 Bashir St Maple ON L6A3A3', '1368 Shore Dr Bedford NS B4A2E8',
       '5004 Fox Run Pl Kingston ON K7P0E4',
       '201 Halfway Lake Dr Hammonds Plains NS B4B1M8',
       '5 Golflinks Dr Ottawa ON K2J 4X9',
       '3435 Vandorf Siderd Stouffville ON L4A4H5',
       '118 Colborne St Kingston ON K7K 1C9',
       '92 Armcrest Dr Lower Sackville NS B4C3Z9',
       '1083 Cornerstone St NE Calgary AB T3N1G5',
       '504 37 St NW, Calgary, AB T2N 3B8, Canada',
       '8915 20 Ave SW Edmonton AB T6X2C5',
       '531 Des Genévriers Rue Orléans ON K4A0Z2',
       '2306-530 3 St SE Calgary AB T2G 2L8',
       '405 Allard Blvd SW Edmonton AB T6W3T3',
       '340 Axis Way Ottawa ON K1W 0J9', '824 9A ST NE Calgary AB T2E4L6',
       '218 88 ARBOUR LAKE RD NW Calgary AB T3G0C2',
       '2 Rockcliff Hts NW Calgary AB T3G0C7',
       '119 110 Auburn Meadows View SE Calgary, Alberta T3M 2M2',
       '3 Bayview Lane Queensland NS B0J1T0',
       '915 140 SIMCOE ST Toronto ON M5H4E9',
       '82 Morenz Terrace Ottawa, Ontario K2K 3H2',
       '23 Macfarlane St Lake Echo NS B3E1M5',
       '5 Lewiston Rd NE Calgary AB T3P 2J3',
       '70 Cliffview Lane Head of Jeddore NS B0J1P0',
       '60 MILL LAKE RD Number 2 Simms Settlement NS B0J1T0',
       '40 Tierney Dr Nepean ON K2J 4T3',
       '23 WALTON DR Halifax NS B3N1X6',
       '47 Pleasant St Dartmouth NS B2Y3P4',
       '10 Heritage Hills Dr Eastern Passage NS B3G1N5',
       '283 OSBORNE ST Halifax NS B3N3H1',
       '54 Kingston Cres Dartmouth NS B3A2M2',
       '2 Forsey St Ottawa ON K1N7X7',
       '1004 Connery Ave Ottawa ON K1G2P1',
       '96 Forestside Cres Halifax NS B3M1M4',
       '1606-730 2 Ave SW Calgary AB T2P 1R8',
       '45 Clonfadda Terr Nepean ON K2J 6E9',
       '31 YOUNG ST Welland ON L3B4C5',
       '60 Keystone Trail Welland ON L3B0N8',
       '70 Joffre St Dartmouth NS B2Y3C9',
       '844 Cataraqui Woods Dr Kingston ON K7P2P7',
       '6997 Creek Line Pain Court ON N0P1Z0',
       '1753 Reginald Bart Dr Kingston ON K7K0E9',
       '190 RIDEAU ST Kingston ON K7K3A3',
       '194 Calvington Ave Ottawa ON K2T0H9',
       '710 Montrichard Rd Orléans ON K4A5R3',
       '5551 Sentinal Sq Halifax NS B3K4A8',
       '84339 Kent Line Brussels ON N0G1H0',
       '224 Blackhorse Dr Kemptville ON K0G 1J0',
       '174 South St Gananoque ON K7G1A2',
       '401 540 Talbot Pl Gananoque ON K7G3C6',
       '120 CASTLEGROVE RD NE Calgary AB T3J1T5',
       '53 Lucas Place NW Calgary AB T3P2E2',
       '323 TARACOVE ESTATE DR NE Calgary AB T3J5A1',
       '9449 Hidden Valley Dr NW Calgary AB T3A5T1',
       '84 Carleton Pl Brampton ON L6T3Z4',
       '299 Everoak Dr SW Calgary AB T2Y0A5',
       '52 Pyle Rd Lowbanks ON N0A1K0',
       '12 Mcdougall St NW Langdon AB T0J1X2',
       '44041 Hendershot Rd Lowbanks ON N0A1K0',
       '4315 CONCESSION RD 4 N/A S Amherstburg ON N9V2Y8',
       '576 Chesham Pl Kingston ON K7M5T5',
       '260 Boulder Creek Cres Langdon AB T0J 1X3',
       '29 Timberline Crt SW Calgary AB T3H6C8',
       '58 Copperleaf Terr SE Calgary AB T2Z0H9',
       '32 Hilborn St Grand Valley ON L9W6V1',
       '1633 27 AVE SW Calgary AB T2T1G7',
       '3666 Douglas Woods Hts SE Calgary AB T2Z2G4',
       '81 Eastforest Trail Kitchener ON N2N3M3',
       '603 223 PRINCESS ST Kingston ON K7L0G8',
       '501 223 PRINCESS ST Kingston ON K7L0G8',
       '718 223 PRINCESS ST Kingston ON K7L0G8',
       '184 Sandpiper Cir NW Calgary AB T3K3P4',
       '160 Marquis Pl SE Airdrie AB T4A1Y7',
       '1841 Fisk Rd Odessa ON K0H2H0',
       '64232 COUNTY RD 3 East Garafraxa ON L9W7J4',
       '1050 John F. Scott Rd Kingston ON K7L4V3'], dtype=object)

In [227]:
import re

def clean_address(address):
    # Remove unit numbers (like "2306-" or "401 ") at the beginning
    address = re.sub(r"^\d{1,5}-", "", address)        # Remove "2306-"
    address = re.sub(r"^\d{1,5}\s", "", address)       # Remove "401 "
    address = address.replace("N/A", "").strip()
    return address

In [228]:
normalized_df["cleaned_address"] = normalized_df["subject.address"].apply(clean_address)

In [230]:
from geopy.geocoders import Nominatim
from time import sleep

# Initialize geocoder
geolocator = Nominatim(user_agent="cordinate_finder")  # Use a unique name

def get_coordinates(address):
    try:
        location = geolocator.geocode(address)
        sleep(1)  # Respect Nominatim's rate limit of 1 request/second
        if location:
            return pd.Series([location.latitude, location.longitude])
        else:
            return pd.Series([None, None])
    except Exception:
        return pd.Series([None, None])

# Apply to the dataframe
normalized_df[["latitude", "longitude"]] = normalized_df["cleaned_address"].apply(get_coordinates)

In [231]:
normalized_df['latitude'].unique()

array([44.2484783, 44.6928153,        nan, 44.6558362, 44.6635188,
       43.7092412, 45.2876619, 44.6469574, 51.0161717, 44.5977804,
       44.7185559, 44.2621789, 44.7424962, 45.2520901, 44.2355505,
       44.7895967, 51.1577679, 51.0881897, 53.4116044, 45.4457963,
       51.0421653, 53.3975371, 45.438661 , 51.0547311, 51.1340681,
       51.1514116, 50.8927187, 44.6520991, 43.647705 , 45.3162479,
       44.7350466, 51.1877923, 44.7768305, 45.2782733, 44.6435079,
       44.6676982, 44.6132887, 44.6314021, 44.6842229, 45.4356331,
       45.3946026, 44.6581519, 51.0514036, 45.2382139, 42.9896261,
       42.9749936, 44.6715155, 44.2700471, 42.3843292, 44.2758515,
       44.2427354, 45.3036571, 45.4654691, 44.6725133, 45.0351352,
       44.3260547, 44.3362326, 51.1070718, 51.1930456, 51.1201047,
       51.1463299, 43.7083724, 50.9139472, 50.9769986, 42.0563657,
       44.2399338, 50.9635815, 51.0267523, 50.9119165, 43.8985606,
       51.0295087, 50.945631 , 43.4312449, 44.2323959, 51.1379927,
       51.2719449, 44.2985645])

In [232]:
normalized_df['longitude'].unique()

array([ -76.589595 ,  -63.2549398,          nan,  -63.6507649,
        -63.4796608,  -79.3669717,  -75.9361648,  -63.6309348,
       -113.8116477,  -63.9266629,  -63.654381 ,  -76.6084391,
        -63.783478 ,  -75.718189 ,  -76.495157 ,  -63.682667 ,
       -113.9423658, -114.1413615, -113.5309832,  -75.4820942,
       -114.0558912, -113.534038 ,  -75.5098408, -114.039047 ,
       -114.2062524, -114.2417114, -113.9473847,  -63.9956961,
        -79.3862034,  -75.9047447,  -63.3977916, -114.0446561,
        -63.0445324,  -75.7217354,  -63.6286999,  -63.5582416,
        -63.4700609,  -63.6282435,  -63.5699757,  -75.6860384,
        -75.6225662,  -63.649145 , -114.0687911,  -75.7343957,
        -79.2441341,  -79.248946 ,  -63.5507685,  -76.5532291,
        -82.3002535,  -76.4456889,  -76.4834238,  -75.9360547,
        -75.4592726,  -63.6149516,  -75.6840057,  -76.1564622,
        -76.153176 , -113.9590685, -114.0796886, -113.9382761,
       -114.1060526,  -79.722529 , -114.113916 , -113.6827971,
        -83.0530017,  -76.5835588, -113.6728756, -114.2092223,
       -113.9309486,  -80.323164 , -114.104539 , -113.9875976,
        -80.5355242,  -76.4864132, -114.0976577, -113.9888786,
        -76.4176944])

In [233]:
X_imputed_knn_df["latitude"] = normalized_df["latitude"]
X_imputed_knn_df["longitude"] = normalized_df["longitude"]

In [234]:
X_imputed_knn_df["latitude"].isna().sum()

np.int64(10)

In [235]:
X_imputed_knn_df["longitude"].isna().sum()

np.int64(10)

In [236]:
normalized_df['subject.address'].isna().sum()

np.int64(0)

In [238]:
missing_coords = normalized_df[normalized_df["latitude"].isna()]
print(missing_coords["subject.address"])

2                             11 PAUL AVE Ayr ON N0B1E0
3                102 Stonewalk Dr Kemptville ON K0G 1J0
11                         11 Bashir St Maple ON L6A3A3
16            3435 Vandorf Siderd Stouffville ON L4A4H5
36    60 MILL LAKE RD Number 2 Simms Settlement NS B...
58                   84339 Kent Line Brussels ON N0G1H0
68                        52 Pyle Rd Lowbanks ON N0A1K0
70               44041 Hendershot Rd Lowbanks ON N0A1K0
85                        1841 Fisk Rd Odessa ON K0H2H0
86           64232 COUNTY RD 3 East Garafraxa ON L9W7J4
Name: subject.address, dtype: object

In [239]:
missing_coords = normalized_df[normalized_df["longitude"].isna()]
print(missing_coords["subject.address"])

2                             11 PAUL AVE Ayr ON N0B1E0
3                102 Stonewalk Dr Kemptville ON K0G 1J0
11                         11 Bashir St Maple ON L6A3A3
16            3435 Vandorf Siderd Stouffville ON L4A4H5
36    60 MILL LAKE RD Number 2 Simms Settlement NS B...
58                   84339 Kent Line Brussels ON N0G1H0
68                        52 Pyle Rd Lowbanks ON N0A1K0
70               44041 Hendershot Rd Lowbanks ON N0A1K0
85                        1841 Fisk Rd Odessa ON K0H2H0
86           64232 COUNTY RD 3 East Garafraxa ON L9W7J4
Name: subject.address, dtype: object

In [248]:
print(missing_coords.loc[36, "subject.address"])

60 MILL LAKE RD Number 2 Simms Settlement NS B0J1T0

<h3>manually adding addresses to these subjects</h3>

In [250]:
normalized_df.loc[2, ["latitude", "longitude"]] = [43.34521, -80.47427]
normalized_df.loc[3, ["latitude", "longitude"]] = [44.988916, -75.703683]
normalized_df.loc[11, ["latitude", "longitude"]] = [43.865738, -79.543053]
normalized_df.loc[16, ["latitude", "longitude"]] = [44.005577, -79.351929]
normalized_df.loc[36, ["latitude", "longitude"]] = [44.63359, -64.079539]
normalized_df.loc[58, ["latitude", "longitude"]] = [43.707331, -81.200281]
normalized_df.loc[68, ["latitude", "longitude"]] = [42.857055, -79.512253]
normalized_df.loc[70, ["latitude", "longitude"]] = [42.932095, -79.477922]
normalized_df.loc[85, ["latitude", "longitude"]] = [44.329878, -76.716464]
normalized_df.loc[86, ["latitude", "longitude"]] = [43.861747, -80.18286]

In [255]:
normalized_df["latitude"].isna().sum()

np.int64(0)

In [254]:
normalized_df["longitude"].isna().sum()

np.int64(0)

In [ ]:
# Flatten comps
comps_df = pd.json_normalize(
    normalized_df.explode("comps")["comps"]
)

# Flatten properties
properties_df = pd.json_normalize(
    normalized_df.explode("properties")["properties"]
)

In [258]:
comps_df.columns

Index(['distance_to_subject', 'prop_type', 'stories', 'address',
       'city_province', 'sale_date', 'sale_price', 'dom',
       'location_similarity', 'lot_size', 'age', 'condition', 'gla',
       'room_count', 'bed_count', 'bath_count', 'basement_finish', 'parking',
       'neighborhood', 'group_id', 'comp_id'],
      dtype='object')

In [259]:
properties_df.columns

Index(['id', 'address', 'bedrooms', 'gla', 'city', 'province', 'postal_code',
       'property_sub_type', 'structure_type', 'style', 'levels', 'room_count',
       'full_baths', 'half_baths', 'main_level_finished_area',
       'upper_lvl_fin_area', 'bg_fin_area', 'lot_size_sf', 'year_built',
       'roof', 'basement', 'cooling', 'heating', 'close_price', 'close_date',
       'public_remarks', 'latitude', 'longitude', 'group_id', 'property_id'],
      dtype='object')

In [260]:
comps_df

,distance_to_subject,prop_type,stories,address,city_province,sale_date,sale_price,dom,location_similarity,lot_size,...,condition,gla,room_count,bed_count,bath_count,basement_finish,parking,neighborhood,group_id,comp_id
0,0.15 KM,Townhouse,2 Storey,930 Amberdale Cres,Kingston ON K7M 6V1,Oct/25/2024,"378,900",38,Similar,N/A Condominium,...,Superior,1044 SqFt,6,3,2:0,Full/Finished,No Garage,,1,1
1,0.02 KM,Townhouse,2 Storey,771 Ashwood Dr,Kingston ON K7M 6X7,Feb/05/2025,"327,000",51,Inferior,N/A Condominium,...,Inferior,1044 SqFt,6,3,1:0,Full/Finished,No Garage,,1,2
2,0.09 KM,Townhouse,2 Storey,995 Amberdale Cres,Kingston ON K7M 6X6,Feb/14/2025,"315,000",95,Inferior,N/A Condominium,...,Inferior,1044 SqFt,6,3,2:0,Full/Part Finished,No Garage,,1,3
3,3.73 KM,Detached,1 Storey,64 Deermist Dr,Porters Lake NS B3E 1P3,Jan/16/2025,"800,000",141+/-,Inferior,80212+/-SqFt,...,Similar,1602+/-SqFt,6,3,2:0,Full/Finished,Dbl. Att. Gar.,,2,1
4,8.98 KM,Detached,1 Storey,85 Oceanic Dr,East Lawrencetown NS B2Z 1T6,Dec/21/2024,"950,000",280+/-,Inferior,61700+/-SqFt,...,Good,2100+/-SqFt,6,3,2:0,Full/Finished,1.5Att.Gar./Dbl.Att.Gar.,,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,11.17 KM,Detached,Bungalow,5739 Sixth Line,Hillsburgh ON N0B 1Z0,Feb/09/2025,"1,490,000",32 +/-,Similar,2 Acres,...,Average,1634 SqFt,7,3,2F,Full/Finished,1.5 car attached garage,,87,2
260,12.14 KM,Detached,Bungalow,7167 Seventh Line,Belwood ON N0B 1J0,Nov/20/2024,"1,150,000",15 +/-,Similar,10 Acres,...,Average,1610 SqFt,6,3,1F,None,No garage,,87,3
261,2.94 KM,Detached,1.5 Storey,2738 Isle of Man Rd,Kingston ON K7L 4V3,Nov/20/2024,"435,000",168,Superior,267' x Irreg / 0.87 Acres,...,Superior,814 SqFt,9,2,1:1,Crawl Space,Sgl. Att. Gar.,,88,1
262,9.98 KM,Detached,Bungalow,2480 Hitchcock Rd,Joyceville ON K0H 1Y0,Nov/18/2024,"349,000",18,Inferior,353' x 1260' / 10.1 Acres,...,Inferior,"1,350 SqFt",7,3,1:0,Cellar,No Garage,,88,2
263,6.44 KM,Detached,2 Storey,1996 McFarlane Rd,Kingston ON K7L 4V3,Oct/04/2024,"400,000",98,Similar,241' x Irreg / 1 Acre,...,Average,984 SqFt,12,2+1,1:0,Cellar,Trpl. Det. Gar.,,88,3

In [261]:
properties_df

,id,address,bedrooms,gla,city,province,postal_code,property_sub_type,structure_type,style,...,basement,cooling,heating,close_price,close_date,public_remarks,latitude,longitude,group_id,property_id
0,367,463 Conservatory Dr,3.0,1500.0,Kingston,Ontario,K7M 9C8,Detached,Detached,"Brick, Vinyl Siding",...,Unfinished,Central Air,Forced Air,674000.0,2025-01-13,Welcome to this beautifully maintained and spa...,44.2325,-76.5901,1,1
1,163443,463 Conservatory Drive,3.0,1750.0,Kingston,Ontario,K7M 9C8,Detached,"Detached, 2-Storey",2-Storey,...,Unfinished,Central Air,Forced Air,674000.0,2025-01-13,Welcome to this beautifully maintained and spa...,44.2325,-76.5901,1,2
2,378,311 Janette St,3.0,1500.0,Kingston,Ontario,K7P 0K8,Freehold Townhouse,Freehold Townhouse,2-Storey,...,Fin W/O,Central Air,Forced Air,585000.0,2025-01-14,"Come and see what this fully finished, Barr co...",44.2622,-76.5904,1,3
3,130023,311 Janette Street,3.0,1300.0,Kingston,Ontario,K7P 0K8,Freehold Townhouse,"Freehold Townhouse, 2-Storey",2-Storey,...,Finished with Walk-Out,Central Air,Forced Air,585000.0,2025-01-14,"Come and see what this fully finished, Barr co...",44.2622,-76.5904,1,4
4,2782,4056 Bath Rd,4.0,NaN,Kingston,Ontario,K7M 4Y4,Rural Resid,Rural Resid,2-Storey,...,"Part Bsmt, Unfinished",None,Baseboard,685000.0,2025-01-15,"Current valuation for 4056 Bath Rd, South of T...",44.2407,-76.6102,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9815,282586,13 Aragon Road,3.0,1750.0,Kingston,Ontario,K0H 1S0,Detached,"Detached, 1 1/2 Storey",1 1/2 Storey,...,Full,Central Air,Forced Air,755000.0,2025-04-30,"Aragon Road. Minutes to Downtown Kingston, thi...",44.3197,-76.4306,88,29
9816,288860,1029 Bluffwood Avenue,4.0,3250.0,Kingston,Ontario,K7K 0E3,Detached,"Detached, 2-Storey",2-Storey,...,Finished,Central Air,Forced Air,970000.0,2025-05-02,Welcome to 1029 Bluffwood Avenue A Stunning T...,44.2701,-76.4382,88,30
9817,286281,491 Maple Lawn Drive,4.0,4250.0,Kingston,Ontario,K0H 1S0,Detached,"Detached, 1 1/2 Storey",1 1/2 Storey,...,None,Central Air,Forced Air,1155000.0,2025-05-06,Welcome to your dream estate in the prestigiou...,44.3013,-76.4600,88,31
9818,286938,1224 Greenwood Park Drive,4.0,2250.0,Kingston,Ontario,K7K 0E1,Detached,"Detached, 2-Storey",2-Storey,...,"Full, Partially Finished",Central Air,Forced Air,760000.0,2025-05-06,"Welcome to 1224 Greenwood Park Drive, a four b...",44.2690,-76.4404,88,32
9819,288707,1018 Rainbow Crescent,3.0,1300.0,Kingston,Ontario,K7K 7J3,Detached,"Detached, 2-Storey",2-Storey,...,"Full, Finished",Central Air,Forced Air,570000.0,2025-05-08,ENSUITE & WALK-IN CLOSET YOUR PRIVATE PRIMARY...,44.2697,-76.4429,88,33