In [11]:
import pandas as pd
import json

In [12]:
with open("appraisals_dataset.json", "r") as file:
    data = pd.read_json(file)

In [13]:
df = pd.json_normalize(data['appraisals'].tolist())

df.to_csv('appraisals_dataset.json', index = False)

display(df.head())

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,subject.room_count,subject.num_beds,subject.room_total,subject.main_lvl_area,subject.second_lvl_area,subject.third_lvl_area,subject.gla,subject.subject_age,subject.num_baths,subject.condition
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,n/a,SqFt,...,6,3,6,522,522,,1044,49,1:1,Average
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,6,3,6,1060,440,,1500 SqFt,14+/-yrs,2:1,Average
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,9,4,9,1660,1340,,3000 SqFt,42,2:1,Average
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,5,2,5,,,,1283 SqFt,2012 +/-,3:0,Good
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,N/A,N/A,...,6,3,6,1530,,,1530 SqFt,47+/-yrs,2:0,Average

In [14]:
df = pd.DataFrame(data)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   appraisals  88 non-null     object
dtypes: object(1)
memory usage: 832.0+ bytes
None

In [15]:
normalized_df = pd.json_normalize(data['appraisals'])

print(normalized_df.shape)

(88, 38)

In [16]:
numeric_cols = normalized_df.select_dtypes(include=['object']).columns
for col in numeric_cols:
    try:
        normalized_df[col] = pd.to_numeric(normalized_df[col], errors='ignore')
    except:
        pass

C:\Users\edwar\AppData\Local\Temp\ipykernel_42664\4092625908.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  normalized_df[col] = pd.to_numeric(normalized_df[col], errors='ignore')

In [17]:
missing_values = normalized_df.isnull().sum().sum()
print(missing_values)

155

In [18]:
normalized_df.head()

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,subject.room_count,subject.num_beds,subject.room_total,subject.main_lvl_area,subject.second_lvl_area,subject.third_lvl_area,subject.gla,subject.subject_age,subject.num_baths,subject.condition
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,n/a,SqFt,...,6.0,3,6.0,522,522.0,NaN,1044,49,1:1,Average
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,6.0,3,6.0,1060,440.0,NaN,1500 SqFt,14+/-yrs,2:1,Average
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,9.0,4,9.0,1660,1340.0,NaN,3000 SqFt,42,2:1,Average
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,5.0,2,5.0,,NaN,NaN,1283 SqFt,2012 +/-,3:0,Good
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,N/A,N/A,...,6.0,3,6.0,1530,NaN,NaN,1530 SqFt,47+/-yrs,2:0,Average

In [19]:
print(normalized_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   orderID                            88 non-null     int64
 1   comps                              88 non-null     object
 2   properties                         88 non-null     object
 3   subject.address                    88 non-null     object
 4   subject.subject_city_province_zip  88 non-null     object
 5   subject.effective_date             88 non-null     object
 6   subject.municipality_district      87 non-null     object
 7   subject.site_dimensions            88 non-null     object
 8   subject.lot_size_sf                88 non-null     object
 9   subject.units_sq_ft                87 non-null     object
 10  subject.year_built                 87 non-null     object
 11  subject.structure_type             87 non-null     object
 12  subject.roofing                    87 non-null     object
 13  subject.effective_age              87 non-null     object
 14  subject.style                      88 non-null     object
 15  subject.construction               87 non-null     object
 16  subject.remaining_economic_life    87 non-null     object
 17  subject.windows                    87 non-null     object
 18  subject.basement                   88 non-null     object
 19  subject.exterior_finish            87 non-null     object
 20  subject.basement_area              87 non-null     object
 21  subject.foundation_walls           87 non-null     object
 22  subject.flooring                   87 non-null     object
 23  subject.plumbing_lines             87 non-null     object
 24  subject.heating                    87 non-null     object
 25  subject.fuel_type                  87 non-null     object
 26  subject.water_heater               87 non-null     object
 27  subject.cooling                    87 non-null     object
 28  subject.room_count                 87 non-null     float64
 29  subject.num_beds                   87 non-null     object
 30  subject.room_total                 87 non-null     float64
 31  subject.main_lvl_area              87 non-null     object
 32  subject.second_lvl_area            43 non-null     float64
 33  subject.third_lvl_area             1 non-null      float64
 34  subject.gla                        88 non-null     object
 35  subject.subject_age                88 non-null     object
 36  subject.num_baths                  87 non-null     object
 37  subject.condition                  88 non-null     object
dtypes: float64(4), int64(1), object(33)
memory usage: 26.2+ KB
None

<h3>Parsing Data<h3>
<p>Columns were focusing on<p>
<ul>
    <li>gla</li>
    <li>structure type</li>
    <li>beds</li>
    <li>baths</li>
    <li>condition</li>
    <li>lot size sqft</li>
    <li>location</li>
    <li>age</li>
<ul>

In [20]:
import numpy as np

In [21]:
normalized_df['subject.gla'].unique()

array(['1044', '1500 SqFt', '3000 SqFt', '1283 SqFt', '1530 SqFt',
       '1746 SqFt', '1602 SqFt', '1751 SqFt', '1523 SqFt', '2456 SqFt',
       '3332+/-SqFt', '1525 SqFt', '2895 SqFt', '1,678 SqFt', '2264 SqFt',
       '2530 SqFt', '2149 SqFt', '1840 SqFt', '1354 SqFt', '1573.40 SqFt',
       '78 SqM', '2974 SqFt', '2956 SqFt', '1109 SqFt', '1580 SqFt',
       '1587 SqFt', '90 SqM', '1039 SqFt', '261 SqM', '789 SqFt',
       '1094 SqFt', '1176 SqFt', '1334 SqFt', '2010 SqFt', '246 SqM',
       '1400 SqFt', '864 SqFt', '1774 SqFt', '1795 SqFt', '3137 SqFt',
       '1132 SqFt', '1788 SqFt', '1637 SqFt', '1822 SqFt', '1386 SqFt',
       '522 SqFt', '1607 SqFt', '2755 SqFt', '1634 SqFt', '1170 SqFt',
       '1,840 SqFt', '1845 SqFt', '1488 SqFt', '2131 SqFt', '1504 SqFt',
       '1643 SqFt', '1236 SqFt', '1700 SqFt', '1992 SqFt', '2242 SqFt',
       '758 SqFt', '2231.68 SqFt', '2115 SqFt', '1149 SqFt', '1372 SqFt',
       '1178 SqFt', '2203 SqFt', '1675 SqFt', '1952 SqFt', '2773 SqFt',
       '2304 SqFt', '1050 SqFt', '2061 SqFt', '3543.10 SqFt', '2352 SqFt',
       '2385 SqFt', '186 SqM', '1290 SqFt', '1451 SqFt', '678 SqFt',
       '665 sf', '584 sf', '1746.79 SqFt', '1144 SqFt', '2,138 SqFt',
       '2250 SqFt', '1254 SqFt'], dtype=object)

In [22]:
def parse_gla(value):
    if pd.isna(value):
        return np.nan

    value = value.replace(',', '')
    
    if 'SqM' in value or 'sqm' in value.lower():
        try:
            num = float(value.split()[0])
            return num * 10.764
        except:
            return np.nan
    
    value.replace('+/-', '')
    
    if "SqFt" in value or 'sqft' in value.lower() or 'sf' in value.lower():
        try:
            num = ''.join(c for c in value if (c.isdigit() or c == '.'))
            return float(num)
        except:
            return np.nan
        
    try:
        return float(value)
    except:
        return np.nan
    
normalized_df['gla_sqft'] = normalized_df['subject.gla'].apply(parse_gla)

In [23]:
normalized_df['gla_sqft']

0     1044.00
1     1500.00
2     3000.00
3     1283.00
4     1530.00
       ...
83    1746.79
84    1144.00
85    2138.00
86    2250.00
87    1254.00
Name: gla_sqft, Length: 88, dtype: float64

In [24]:
normalized_df['subject.num_beds'].unique()

array(['3', '4', '2', '5', '1', '7', '3+1', '2+2', nan, '8'], dtype=object)

In [ ]:
def parse_num_beds(value):
    if pd.isna(value):
        return np.nan
    value = str(value).strip()
    
    if '+' in value:
        try:
            return sum(int(part) for part in val.split('+'))
        except:
            return np.nan
        
    try:
        return int(value)
    except:
        return np.nan
    
normalized_df['beds_num'] = normalized_df['subject.num_beds'].apply(parse_num_beds)

In [26]:
normalized_df['beds_num'].unique()

array([ 3.,  4.,  2.,  5.,  1.,  7., nan,  8.])

In [27]:
normalized_df['subject.num_baths'].unique()

array(['1:1', '2:1', '3:0', '2:0', '2F 1H', '3:1', '2:2', '1:0', '2F',
       '2 Full/1Half', '3F 1H', '3F', '4F', '3:2', '1F', '2', nan,
       '1F 1H'], dtype=object)

In [28]:
import re

In [29]:
def parse_baths_num(value):
    if pd.isna(value):
        return np.nan

    value = str(value).strip().upper()
    
    # Format: "2:1" → 2 full, 1 half
    if ':' in value:
        try:
            full, half = map(int, value.split(':'))
            return full + 0.5 * half
        except:
            return np.nan

    # Format: "2F 1H" or "1F 1H"
    match = re.match(r'(?:(\d+)F)?\s*(?:(\d+)H)?', value)
    if match:
        full = int(match.group(1)) if match.group(1) else 0
        half = int(match.group(2)) if match.group(2) else 0
        return full + 0.5 * half

    # Format: "2F", "1F", "3F" (only full baths)
    if value.endswith('F') and value[:-1].isdigit():
        return int(value[:-1])

    # Format: "2", "3" (assume full baths only)
    if value.isdigit():
        return int(value)

    # Format: "2 Full/1Half"
    match_alt = re.match(r'(\d+)\s*FULL\s*/\s*(\d+)HALF', value)
    if match_alt:
        return int(match_alt.group(1)) + 0.5 * int(match_alt.group(2))

    return np.nan

normalized_df['baths_num'] = normalized_df['subject.num_baths'].apply(parse_baths_num)

In [30]:
normalized_df['baths_num'].unique()

array([1.5, 2.5, 3. , 2. , 3.5, 1. , 0. , 4. , nan])

In [31]:
normalized_df['subject.lot_size_sf'].unique()

array(['n/a', '72745+/-SqFt', '20174 SqFt', '1.25 Acres', 'N/A',
       '6825 SqFt', '3694 SqFt', '3358 SqFt', '549 SqM', '42495 SqFt',
       '2619 SqFt', '26700 SqFt', '5,663 SqFt', '33943+/-SqFt',
       '5987 SqFt', '10.057 Acres', '1742 SqFt', '3250 SqFt', '377 SqM',
       '431 SqM', '605 SqM', '3601 SqFt', '330 SqM', '1868 SqFt',
       '626 SqM', '761 SqM', 'SqFt', '12600 SqFt', 'N/A-CONDO LAND',
       '3253 SqFt', '33661 SqFt', '458 SqM', '37374 SqFt', '15936 SqFt',
       '3137 SqFt', '6300 SqFt', '14375 SqFt', '3500 SqFt', '14232 SqFt',
       '6000 SqFt', '911 SqFt', '8398 SqFt', '6452 SqFt', '7541 SqFt',
       '7,007 SqFt', '10570 SqFt', '3,685 SqFt', '6,864 SqFt',
       '2899 SqFt', '2780 SqFt', '1.22  Acres', '7059 SqFt', '6480 SqFt',
       'N/A Condominium', '416 SqM', '255 SqM', '332 SqM', '381 SqM',
       'n/a-condo land', '344 SqM', '0.5ac', '931 SqM', '5 Acres',
       '23046 SqFt', '10,014 SqFt', '878 SqM', '699 SqM', '4768 SqFt',
       '4919 sqft', '580 SqM', '5791 SqFt', '3625 SqFt', 'na', '759 SqM',
       '541 SqM', '10 Acres', '14 Acres'], dtype=object)

In [32]:
def parse_lot_size(value):
    if pd.isna(value):
        return np.nan

    value = str(value).strip().lower().replace(',', '').replace('+/-', '')

    # Handle acres (e.g., "1.25 acres", "0.5ac")
    if 'acre' in value or 'ac' in value:
        try:
            number = float(re.findall(r'[\d.]+', value)[0])
            return number * 43560
        except:
            return np.nan

    # Handle square meters (e.g., "549 sqm")
    if 'sqm' in value or 'sq m' in value:
        try:
            number = float(re.findall(r'[\d.]+', value)[0])
            return number * 10.7639
        except:
            return np.nan

    # Handle square feet (e.g., "10570 sqft", "10570 sq ft")
    if 'sqft' in value or 'sq ft' in value:
        try:
            return float(re.findall(r'[\d.]+', value)[0])
        except:
            return np.nan

    # Handle numbers without units (assume they're in square feet)
    try:
        return float(re.findall(r'[\d.]+', value)[0])
    except:
        return np.nan
    
normalized_df['lot_size_sqft'] = normalized_df['subject.lot_size_sf'].apply(parse_lot_size)

In [33]:
normalized_df['lot_size_sqft'].unique()

array([        nan,  72745.    ,  20174.    ,  54450.    ,   6825.    ,
         3694.    ,   3358.    ,   5909.3811,  42495.    ,   2619.    ,
        26700.    ,   5663.    ,  33943.    ,   5987.    , 438082.92  ,
         1742.    ,   3250.    ,   4057.9903,   4639.2409,   6512.1595,
         3601.    ,   3552.087 ,   1868.    ,   6738.2014,   8191.3279,
        12600.    ,   3253.    ,  33661.    ,   4929.8662,  37374.    ,
        15936.    ,   3137.    ,   6300.    ,  14375.    ,   3500.    ,
        14232.    ,   6000.    ,    911.    ,   8398.    ,   6452.    ,
         7541.    ,   7007.    ,  10570.    ,   3685.    ,   6864.    ,
         2899.    ,   2780.    ,  53143.2   ,   7059.    ,   6480.    ,
         4477.7824,   2744.7945,   3573.6148,   4101.0459,   3702.7816,
        21780.    ,  10021.1909, 217800.    ,  23046.    ,  10014.    ,
         9450.7042,   7523.9661,   4768.    ,   4919.    ,   6243.062 ,
         5791.    ,   3625.    ,   8169.8001,   5823.2699, 435600.    ,
       609840.    ])

In [34]:
normalized_df['subject.year_built'].unique()

array(['1976', '2011', '1983', '2012 +/-', '1978', '1985', '1941', '2021',
       '2006', '2019', '2024', '2000', '1982', '2010', '2002', '1968',
       '1890', '1993', '2016', '1952', '2018', '2017', '1951', '2008',
       '2013', '2004', '2003', 'New', '1972', '1845', '1995', '1990 +/-',
       '1961', '1970', '1910', '2025', '1940', '1989', '1885', '1900',
       '2016 +/-', '1974', '2022', '2021 +/-', '1990', '2015', '1998',
       '1975', '2007', '1950', '1988', nan, '1971', '1992', '1999',
       '1979', '1977', '1920'], dtype=object)

In [35]:
from datetime import datetime

In [36]:
def parse_year_to_age(value):
    if pd.isna(value):
        return np.nan
    
    value = str(value).strip().lower()
    
    if 'new' in value:
        return datetime.now().year - 1
    
    match = re.search(r'\d{4}', value)
    if match:
        return int(match.group(0))
    
    return np.nan

normalized_df['parsed_year_built'] = normalized_df['subject.year_built'].apply(parse_year_to_age)

current_year = datetime.now().year
normalized_df['property_age'] = current_year - normalized_df['parsed_year_built']

In [37]:
normalized_df['property_age'].unique()

array([ 49.,  14.,  42.,  13.,  47.,  40.,  84.,   4.,  19.,   6.,   1.,
        25.,  43.,  15.,  23.,  57., 135.,  32.,   9.,  73.,   7.,   8.,
        74.,  17.,  12.,  21.,  22.,  53., 180.,  30.,  35.,  64.,  55.,
       115.,   0.,  85.,  36., 140., 125.,  51.,   3.,  10.,  27.,  50.,
        18.,  75.,  37.,  nan,  54.,  33.,  26.,  46.,  48., 105.])

In [38]:
normalized_df['subject.structure_type'].unique()

array(['Townhouse', 'Detached', 'Condominium', 'Semi Detached',
       'High Rise Apartment', 'Low Rise Apartment', 'Duplex', 'Triplex',
       nan, 'Fourplex'], dtype=object)

In [39]:
normalized_df["subject.structure_type"] = normalized_df["subject.structure_type"].fillna("Unknown")

normalized_df = pd.get_dummies(
    normalized_df, 
    columns=["subject.structure_type"], 
    prefix="structure",
    dtype=int
)

In [41]:
normalized_df

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,structure_Condominium,structure_Detached,structure_Duplex,structure_Fourplex,structure_High Rise Apartment,structure_Low Rise Apartment,structure_Semi Detached,structure_Townhouse,structure_Triplex,structure_Unknown
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,n/a,SqFt,...,0,0,0,0,0,0,0,1,0,0
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,0,1,0,0,0,0,0,0,0,0
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,0,1,0,0,0,0,0,0,0,0
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,0,1,0,0,0,0,0,0,0,0
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,N/A,N/A,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,4778326,"[{'distance_to_subject': '0.47 KM', 'prop_type...","[{'id': 12120, 'address': '163 Hidden Valley M...",184 Sandpiper Cir NW Calgary AB T3K3P4,Calgary AB T3K3P4,May/05/2025,"Calgary, AB / Sandstone Valley",10.05m x 45.23m,759 SqM,SqM,...,0,1,0,0,0,0,0,0,0,0
84,4758996,"[{'distance_to_subject': '0.03 KM', 'prop_type...","[{'id': 10480, 'address': '10 Tipping Close SE...",160 Marquis Pl SE Airdrie AB T4A1Y7,Airdrie AB T4A1Y7,Apr/09/2025,"Airdrie, AB / Meadowbrook",14.32m x 37.80m,541 SqM,SqM,...,0,1,0,0,0,0,0,0,0,0
85,4775785,"[{'distance_to_subject': '4.67 KM', 'prop_type...","[{'id': 22737, 'address': '4232 Camden Portlan...",1841 Fisk Rd Odessa ON K0H2H0,Odessa ON K0H2H0,Apr/30/2025,"Loyalist Township, County of Lennox and Addington",830' x Irregular,10 Acres,Acres,...,0,1,0,0,0,0,0,0,0,0
86,4775292,"[{'distance_to_subject': '16.85 KM', 'prop_typ...","[{'id': 178462, 'address': '6135 Second Line '...",64232 COUNTY RD 3 East Garafraxa ON L9W7J4,East Garafraxa ON L9W7J4,May/02/2025,"Township of East Garafraxa, County of Dufferin",223.32' x 1966.85',10 Acres,Acres,...,0,1,0,0,0,0,0,0,0,0
87,4723364,"[{'distance_to_subject': '2.94 KM', 'prop_type...","[{'id': 20272, 'address': '1313 Greenwood Park...",1050 John F. Scott Rd Kingston ON K7L4V3,Kingston ON K7L4V3,Feb/13/2025,Kingston,1531.45' x Irregular,14 Acres,Acres,...,0,1,0,0,0,0,0,0,0,0

In [42]:
normalized_df.columns

Index(['orderID', 'comps', 'properties', 'subject.address',
       'subject.subject_city_province_zip', 'subject.effective_date',
       'subject.municipality_district', 'subject.site_dimensions',
       'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built',
       'subject.roofing', 'subject.effective_age', 'subject.style',
       'subject.construction', 'subject.remaining_economic_life',
       'subject.windows', 'subject.basement', 'subject.exterior_finish',
       'subject.basement_area', 'subject.foundation_walls', 'subject.flooring',
       'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type',
       'subject.water_heater', 'subject.cooling', 'subject.room_count',
       'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area',
       'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla',
       'subject.subject_age', 'subject.num_baths', 'subject.condition',
       'gla_sqft', 'beds_num', 'baths_num', 'lot_size_sqft',
       'parsed_year_built', 'property_age', 'structure_Condominium',
       'structure_Detached', 'structure_Duplex', 'structure_Fourplex',
       'structure_High Rise Apartment', 'structure_Low Rise Apartment',
       'structure_Semi Detached', 'structure_Townhouse', 'structure_Triplex',
       'structure_Unknown'],
      dtype='object')

In [43]:
normalized_df.isnull().sum()

orderID                               0
comps                                 0
properties                            0
subject.address                       0
subject.subject_city_province_zip     0
subject.effective_date                0
subject.municipality_district         1
subject.site_dimensions               0
subject.lot_size_sf                   0
subject.units_sq_ft                   1
subject.year_built                    1
subject.roofing                       1
subject.effective_age                 1
subject.style                         0
subject.construction                  1
subject.remaining_economic_life       1
subject.windows                       1
subject.basement                      0
subject.exterior_finish               1
subject.basement_area                 1
subject.foundation_walls              1
subject.flooring                      1
subject.plumbing_lines                1
subject.heating                       1
subject.fuel_type                     1
subject.water_heater                  1
subject.cooling                       1
subject.room_count                    1
subject.num_beds                      1
subject.room_total                    1
subject.main_lvl_area                 1
subject.second_lvl_area              45
subject.third_lvl_area               87
subject.gla                           0
subject.subject_age                   0
subject.num_baths                     1
subject.condition                     0
gla_sqft                              0
beds_num                              3
baths_num                             1
lot_size_sqft                        16
parsed_year_built                     1
property_age                          1
structure_Condominium                 0
structure_Detached                    0
structure_Duplex                      0
structure_Fourplex                    0
structure_High Rise Apartment         0
structure_Low Rise Apartment          0
structure_Semi Detached               0
structure_Townhouse                   0
structure_Triplex                     0
structure_Unknown                     0
dtype: int64

In [44]:
normalized_df['subject.condition'].unique()

array(['Average', 'Good', 'Excellent', 'Fair'], dtype=object)

In [45]:
condition_map = {
    "Fair": 1,
    "Average": 2,
    "Good": 3,
    "Excellent": 4
}
normalized_df["condition_encoded"] = normalized_df["subject.condition"].map(condition_map).fillna(0)

In [46]:
normalized_df.columns

Index(['orderID', 'comps', 'properties', 'subject.address',
       'subject.subject_city_province_zip', 'subject.effective_date',
       'subject.municipality_district', 'subject.site_dimensions',
       'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built',
       'subject.roofing', 'subject.effective_age', 'subject.style',
       'subject.construction', 'subject.remaining_economic_life',
       'subject.windows', 'subject.basement', 'subject.exterior_finish',
       'subject.basement_area', 'subject.foundation_walls', 'subject.flooring',
       'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type',
       'subject.water_heater', 'subject.cooling', 'subject.room_count',
       'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area',
       'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla',
       'subject.subject_age', 'subject.num_baths', 'subject.condition',
       'gla_sqft', 'beds_num', 'baths_num', 'lot_size_sqft',
       'parsed_year_built', 'property_age', 'structure_Condominium',
       'structure_Detached', 'structure_Duplex', 'structure_Fourplex',
       'structure_High Rise Apartment', 'structure_Low Rise Apartment',
       'structure_Semi Detached', 'structure_Townhouse', 'structure_Triplex',
       'structure_Unknown', 'condition_encoded'],
      dtype='object')

In [47]:
feature_cols = [
    "gla_sqft", 
    "beds_num", 
    "baths_num", 
    "lot_size_sqft", 
    "parsed_year_built", 
    "property_age", 
    "condition_encoded"
]

In [48]:
# Add all one-hot structure columns
structure_cols = [col for col in normalized_df.columns if col.startswith("structure_")]
feature_cols += structure_cols

In [49]:
from sklearn.impute import KNNImputer

knn_imputer = KNNImputer(n_neighbors=5)
X = normalized_df[feature_cols]
X_imputed_knn = knn_imputer.fit_transform(X)

# Convert to DataFrame
X_imputed_knn_df = pd.DataFrame(X_imputed_knn, columns=feature_cols)

In [50]:
X_imputed_knn_df

,gla_sqft,beds_num,baths_num,lot_size_sqft,parsed_year_built,property_age,condition_encoded,structure_Condominium,structure_Detached,structure_Duplex,structure_Fourplex,structure_High Rise Apartment,structure_Low Rise Apartment,structure_Semi Detached,structure_Townhouse,structure_Triplex,structure_Unknown
0,1044.00,3.0,1.5,8250.04028,1976.0,49.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1500.00,3.0,2.5,72745.00000,2011.0,14.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000.00,4.0,2.5,20174.00000,1983.0,42.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1283.00,2.0,3.0,54450.00000,2012.0,13.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1530.00,3.0,2.0,17201.19806,1978.0,47.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,1746.79,3.0,2.5,8169.80010,1988.0,37.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84,1144.00,3.0,1.5,5823.26990,1979.0,46.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
85,2138.00,5.0,2.0,435600.00000,1900.0,125.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,2250.00,5.0,3.0,435600.00000,1977.0,48.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87,1254.00,3.0,1.5,609840.00000,1920.0,105.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
normalized_df['subject.address'].unique()

array(['142-950 Oakview Ave Kingston ON K7M 6W8',
       '7180 207 HWY Halifax NS B0J2L0', '11 PAUL AVE Ayr ON N0B1E0',
       '102 Stonewalk Dr Kemptville ON K0G 1J0',
       '407 105 Dunbrack St Halifax NS B3M3G7',
       '40 Bellroyal Crt Cole Harbour NS B2V 2B4',
       '10 Crofton Rd Toronto ON M4G2B4',
       '11 Bermondsey Way Stittsville ON K2S2Y7',
       '306 11 SPRINGVALE AVE Halifax NS B3N0A3',
       '229 SANDPIPER CRES Chestermere AB T1X0Y4',
       '164 Redmonds Rd Seabright NS B3Z3C4',
       '11 Bashir St Maple ON L6A3A3', '1368 Shore Dr Bedford NS B4A2E8',
       '5004 Fox Run Pl Kingston ON K7P0E4',
       '201 Halfway Lake Dr Hammonds Plains NS B4B1M8',
       '5 Golflinks Dr Ottawa ON K2J 4X9',
       '3435 Vandorf Siderd Stouffville ON L4A4H5',
       '118 Colborne St Kingston ON K7K 1C9',
       '92 Armcrest Dr Lower Sackville NS B4C3Z9',
       '1083 Cornerstone St NE Calgary AB T3N1G5',
       '504 37 St NW, Calgary, AB T2N 3B8, Canada',
       '8915 20 Ave SW Edmonton AB T6X2C5',
       '531 Des Genévriers Rue Orléans ON K4A0Z2',
       '2306-530 3 St SE Calgary AB T2G 2L8',
       '405 Allard Blvd SW Edmonton AB T6W3T3',
       '340 Axis Way Ottawa ON K1W 0J9', '824 9A ST NE Calgary AB T2E4L6',
       '218 88 ARBOUR LAKE RD NW Calgary AB T3G0C2',
       '2 Rockcliff Hts NW Calgary AB T3G0C7',
       '119 110 Auburn Meadows View SE Calgary, Alberta T3M 2M2',
       '3 Bayview Lane Queensland NS B0J1T0',
       '915 140 SIMCOE ST Toronto ON M5H4E9',
       '82 Morenz Terrace Ottawa, Ontario K2K 3H2',
       '23 Macfarlane St Lake Echo NS B3E1M5',
       '5 Lewiston Rd NE Calgary AB T3P 2J3',
       '70 Cliffview Lane Head of Jeddore NS B0J1P0',
       '60 MILL LAKE RD Number 2 Simms Settlement NS B0J1T0',
       '40 Tierney Dr Nepean ON K2J 4T3',
       '23 WALTON DR Halifax NS B3N1X6',
       '47 Pleasant St Dartmouth NS B2Y3P4',
       '10 Heritage Hills Dr Eastern Passage NS B3G1N5',
       '283 OSBORNE ST Halifax NS B3N3H1',
       '54 Kingston Cres Dartmouth NS B3A2M2',
       '2 Forsey St Ottawa ON K1N7X7',
       '1004 Connery Ave Ottawa ON K1G2P1',
       '96 Forestside Cres Halifax NS B3M1M4',
       '1606-730 2 Ave SW Calgary AB T2P 1R8',
       '45 Clonfadda Terr Nepean ON K2J 6E9',
       '31 YOUNG ST Welland ON L3B4C5',
       '60 Keystone Trail Welland ON L3B0N8',
       '70 Joffre St Dartmouth NS B2Y3C9',
       '844 Cataraqui Woods Dr Kingston ON K7P2P7',
       '6997 Creek Line Pain Court ON N0P1Z0',
       '1753 Reginald Bart Dr Kingston ON K7K0E9',
       '190 RIDEAU ST Kingston ON K7K3A3',
       '194 Calvington Ave Ottawa ON K2T0H9',
       '710 Montrichard Rd Orléans ON K4A5R3',
       '5551 Sentinal Sq Halifax NS B3K4A8',
       '84339 Kent Line Brussels ON N0G1H0',
       '224 Blackhorse Dr Kemptville ON K0G 1J0',
       '174 South St Gananoque ON K7G1A2',
       '401 540 Talbot Pl Gananoque ON K7G3C6',
       '120 CASTLEGROVE RD NE Calgary AB T3J1T5',
       '53 Lucas Place NW Calgary AB T3P2E2',
       '323 TARACOVE ESTATE DR NE Calgary AB T3J5A1',
       '9449 Hidden Valley Dr NW Calgary AB T3A5T1',
       '84 Carleton Pl Brampton ON L6T3Z4',
       '299 Everoak Dr SW Calgary AB T2Y0A5',
       '52 Pyle Rd Lowbanks ON N0A1K0',
       '12 Mcdougall St NW Langdon AB T0J1X2',
       '44041 Hendershot Rd Lowbanks ON N0A1K0',
       '4315 CONCESSION RD 4 N/A S Amherstburg ON N9V2Y8',
       '576 Chesham Pl Kingston ON K7M5T5',
       '260 Boulder Creek Cres Langdon AB T0J 1X3',
       '29 Timberline Crt SW Calgary AB T3H6C8',
       '58 Copperleaf Terr SE Calgary AB T2Z0H9',
       '32 Hilborn St Grand Valley ON L9W6V1',
       '1633 27 AVE SW Calgary AB T2T1G7',
       '3666 Douglas Woods Hts SE Calgary AB T2Z2G4',
       '81 Eastforest Trail Kitchener ON N2N3M3',
       '603 223 PRINCESS ST Kingston ON K7L0G8',
       '501 223 PRINCESS ST Kingston ON K7L0G8',
       '718 223 PRINCESS ST Kingston ON K7L0G8',
       '184 Sandpiper Cir NW Calgary AB T3K3P4',
       '160 Marquis Pl SE Airdrie AB T4A1Y7',
       '1841 Fisk Rd Odessa ON K0H2H0',
       '64232 COUNTY RD 3 East Garafraxa ON L9W7J4',
       '1050 John F. Scott Rd Kingston ON K7L4V3'], dtype=object)

In [52]:
import re

def clean_address(address):
    # Remove unit numbers (like "2306-" or "401 ") at the beginning
    address = re.sub(r"^\d{1,5}-", "", address)        # Remove "2306-"
    address = re.sub(r"^\d{1,5}\s", "", address)       # Remove "401 "
    address = address.replace("N/A", "").strip()
    return address

In [53]:
normalized_df["cleaned_address"] = normalized_df["subject.address"].apply(clean_address)

In [54]:
from geopy.geocoders import Nominatim
from time import sleep

# Initialize geocoder
geolocator = Nominatim(user_agent="cordinate_finder")  # Use a unique name

def get_coordinates(address):
    try:
        location = geolocator.geocode(address)
        sleep(1)  # Respect Nominatim's rate limit of 1 request/second
        if location:
            return pd.Series([location.latitude, location.longitude])
        else:
            return pd.Series([None, None])
    except Exception:
        return pd.Series([None, None])

# Apply to the dataframe
normalized_df[["latitude", "longitude"]] = normalized_df["cleaned_address"].apply(get_coordinates)

In [55]:
normalized_df['latitude'].unique()

array([44.2484783, 44.6928153,        nan, 44.6558362, 44.6635188,
       43.7092412, 45.2876619, 44.6469574, 51.0161717, 44.5977804,
       44.7185559, 44.2621789, 44.7424962, 45.2520901, 44.2355505,
       44.7895967, 51.1577679, 51.0881897, 53.4116044, 45.4457963,
       51.0421653, 53.3975371, 45.438661 , 51.0547311, 51.1340681,
       51.1514116, 50.8927187, 44.6520991, 43.647705 , 45.3162479,
       44.7350466, 51.1877923, 44.7768305, 45.2782733, 44.6435079,
       44.6676982, 44.6132887, 44.6314021, 44.6842229, 45.4356331,
       45.3946026, 44.6581519, 51.0514036, 45.2382139, 42.9896261,
       42.9749936, 44.6715155, 44.2700471, 42.3843292, 44.2758515,
       44.2427354, 45.3036571, 45.4654691, 44.6725133, 45.0351352,
       44.3260547, 44.3362326, 51.1070718, 51.1930456, 51.1201047,
       51.1463299, 43.7083724, 50.9139472, 50.9769986, 42.0563657,
       44.2399338, 50.9635815, 51.0267523, 50.9119165, 43.8985606,
       51.0295087, 50.945631 , 43.4312449, 44.2323959, 51.1379927,
       51.2719449, 44.2985645])

In [56]:
normalized_df['longitude'].unique()

array([ -76.589595 ,  -63.2549398,          nan,  -63.6507649,
        -63.4796608,  -79.3669717,  -75.9361648,  -63.6309348,
       -113.8116477,  -63.9266629,  -63.654381 ,  -76.6084391,
        -63.783478 ,  -75.718189 ,  -76.495157 ,  -63.682667 ,
       -113.9423658, -114.1413615, -113.5309832,  -75.4820942,
       -114.0558912, -113.534038 ,  -75.5098408, -114.039047 ,
       -114.2062524, -114.2417114, -113.9473847,  -63.9956961,
        -79.3862034,  -75.9047447,  -63.3977916, -114.0446561,
        -63.0445324,  -75.7217354,  -63.6286999,  -63.5582416,
        -63.4700609,  -63.6282435,  -63.5699757,  -75.6860384,
        -75.6225662,  -63.649145 , -114.0687911,  -75.7343957,
        -79.2441341,  -79.248946 ,  -63.5507685,  -76.5532291,
        -82.3002535,  -76.4456889,  -76.4834238,  -75.9360547,
        -75.4592726,  -63.6149516,  -75.6840057,  -76.1564622,
        -76.153176 , -113.9590685, -114.0796886, -113.9382761,
       -114.1060526,  -79.722529 , -114.113916 , -113.6827971,
        -83.0530017,  -76.5835588, -113.6728756, -114.2092223,
       -113.9309486,  -80.323164 , -114.104539 , -113.9875976,
        -80.5355242,  -76.4864132, -114.0976577, -113.9888786,
        -76.4176944])

In [57]:
X_imputed_knn_df["latitude"] = normalized_df["latitude"]
X_imputed_knn_df["longitude"] = normalized_df["longitude"]

In [58]:
X_imputed_knn_df["latitude"].isna().sum()

np.int64(10)

In [59]:
X_imputed_knn_df["longitude"].isna().sum()

np.int64(10)

In [60]:
normalized_df['subject.address'].isna().sum()

np.int64(0)

In [61]:
missing_coords = normalized_df[normalized_df["latitude"].isna()]
print(missing_coords["subject.address"])

2                             11 PAUL AVE Ayr ON N0B1E0
3                102 Stonewalk Dr Kemptville ON K0G 1J0
11                         11 Bashir St Maple ON L6A3A3
16            3435 Vandorf Siderd Stouffville ON L4A4H5
36    60 MILL LAKE RD Number 2 Simms Settlement NS B...
58                   84339 Kent Line Brussels ON N0G1H0
68                        52 Pyle Rd Lowbanks ON N0A1K0
70               44041 Hendershot Rd Lowbanks ON N0A1K0
85                        1841 Fisk Rd Odessa ON K0H2H0
86           64232 COUNTY RD 3 East Garafraxa ON L9W7J4
Name: subject.address, dtype: object

In [62]:
missing_coords = normalized_df[normalized_df["longitude"].isna()]
print(missing_coords["subject.address"])

2                             11 PAUL AVE Ayr ON N0B1E0
3                102 Stonewalk Dr Kemptville ON K0G 1J0
11                         11 Bashir St Maple ON L6A3A3
16            3435 Vandorf Siderd Stouffville ON L4A4H5
36    60 MILL LAKE RD Number 2 Simms Settlement NS B...
58                   84339 Kent Line Brussels ON N0G1H0
68                        52 Pyle Rd Lowbanks ON N0A1K0
70               44041 Hendershot Rd Lowbanks ON N0A1K0
85                        1841 Fisk Rd Odessa ON K0H2H0
86           64232 COUNTY RD 3 East Garafraxa ON L9W7J4
Name: subject.address, dtype: object

In [63]:
print(missing_coords.loc[36, "subject.address"])

60 MILL LAKE RD Number 2 Simms Settlement NS B0J1T0

<h3>manually adding addresses to these subjects</h3>

In [64]:
normalized_df.loc[2, ["latitude", "longitude"]] = [43.34521, -80.47427]
normalized_df.loc[3, ["latitude", "longitude"]] = [44.988916, -75.703683]
normalized_df.loc[11, ["latitude", "longitude"]] = [43.865738, -79.543053]
normalized_df.loc[16, ["latitude", "longitude"]] = [44.005577, -79.351929]
normalized_df.loc[36, ["latitude", "longitude"]] = [44.63359, -64.079539]
normalized_df.loc[58, ["latitude", "longitude"]] = [43.707331, -81.200281]
normalized_df.loc[68, ["latitude", "longitude"]] = [42.857055, -79.512253]
normalized_df.loc[70, ["latitude", "longitude"]] = [42.932095, -79.477922]
normalized_df.loc[85, ["latitude", "longitude"]] = [44.329878, -76.716464]
normalized_df.loc[86, ["latitude", "longitude"]] = [43.861747, -80.18286]

In [65]:
normalized_df["latitude"].isna().sum()

np.int64(0)

In [66]:
normalized_df["longitude"].isna().sum()

np.int64(0)

<h3>Parsing Data<h3>
<p>Columns were focusing on<p>
<ul>
    <li><input type=radio>gla</input></li>
    <li><input type=radio>structure type</input></li>
    <li><input type=radio>beds</input></li>
    <li><input type=radio>baths</input></li>
    <li><input type=radio>condition</input></li>
    <li><input type=radio>lot size sqft</input></li>
    <li><input type=radio>location</input></li>
    <li><input type=radio>age</input></li>
<ul>

In [67]:
# Flatten comps
comps_df = pd.json_normalize(
    normalized_df.explode("comps")["comps"]
)

# Flatten properties
properties_df = pd.json_normalize(
    normalized_df.explode("properties")["properties"]
)

In [73]:
comps_df.columns

Index(['distance_to_subject', 'prop_type', 'stories', 'address',
       'city_province', 'sale_date', 'sale_price', 'dom',
       'location_similarity', 'lot_size', 'age', 'condition', 'gla',
       'room_count', 'bed_count', 'bath_count', 'basement_finish', 'parking',
       'neighborhood'],
      dtype='object')

array(['Townhouse', 'Detached', 'Condominium', 'Semi Detached',
       'High Rise Apartment', 'Low Rise Apartment', 'Duplex', 'Triplex',
       nan, 'Fourplex'], dtype=object)

In [69]:
comps_df

,distance_to_subject,prop_type,stories,address,city_province,sale_date,sale_price,dom,location_similarity,lot_size,age,condition,gla,room_count,bed_count,bath_count,basement_finish,parking,neighborhood
0,0.15 KM,Townhouse,2 Storey,930 Amberdale Cres,Kingston ON K7M 6V1,Oct/25/2024,"378,900",38,Similar,N/A Condominium,49,Superior,1044 SqFt,6,3,2:0,Full/Finished,No Garage,
1,0.02 KM,Townhouse,2 Storey,771 Ashwood Dr,Kingston ON K7M 6X7,Feb/05/2025,"327,000",51,Inferior,N/A Condominium,49,Inferior,1044 SqFt,6,3,1:0,Full/Finished,No Garage,
2,0.09 KM,Townhouse,2 Storey,995 Amberdale Cres,Kingston ON K7M 6X6,Feb/14/2025,"315,000",95,Inferior,N/A Condominium,49,Inferior,1044 SqFt,6,3,2:0,Full/Part Finished,No Garage,
3,3.73 KM,Detached,1 Storey,64 Deermist Dr,Porters Lake NS B3E 1P3,Jan/16/2025,"800,000",141+/-,Inferior,80212+/-SqFt,11+/-,Similar,1602+/-SqFt,6,3,2:0,Full/Finished,Dbl. Att. Gar.,
4,8.98 KM,Detached,1 Storey,85 Oceanic Dr,East Lawrencetown NS B2Z 1T6,Dec/21/2024,"950,000",280+/-,Inferior,61700+/-SqFt,11+/-,Good,2100+/-SqFt,6,3,2:0,Full/Finished,1.5Att.Gar./Dbl.Att.Gar.,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,11.17 KM,Detached,Bungalow,5739 Sixth Line,Hillsburgh ON N0B 1Z0,Feb/09/2025,"1,490,000",32 +/-,Similar,2 Acres,35 +/-,Average,1634 SqFt,7,3,2F,Full/Finished,1.5 car attached garage,
260,12.14 KM,Detached,Bungalow,7167 Seventh Line,Belwood ON N0B 1J0,Nov/20/2024,"1,150,000",15 +/-,Similar,10 Acres,31 +/-,Average,1610 SqFt,6,3,1F,None,No garage,
261,2.94 KM,Detached,1.5 Storey,2738 Isle of Man Rd,Kingston ON K7L 4V3,Nov/20/2024,"435,000",168,Superior,267' x Irreg / 0.87 Acres,105+/-,Superior,814 SqFt,9,2,1:1,Crawl Space,Sgl. Att. Gar.,
262,9.98 KM,Detached,Bungalow,2480 Hitchcock Rd,Joyceville ON K0H 1Y0,Nov/18/2024,"349,000",18,Inferior,353' x 1260' / 10.1 Acres,60+/-,Inferior,"1,350 SqFt",7,3,1:0,Cellar,No Garage,
263,6.44 KM,Detached,2 Storey,1996 McFarlane Rd,Kingston ON K7L 4V3,Oct/04/2024,"400,000",98,Similar,241' x Irreg / 1 Acre,125+/-,Average,984 SqFt,12,2+1,1:0,Cellar,Trpl. Det. Gar.,

In [70]:
properties_df.columns

Index(['id', 'address', 'bedrooms', 'gla', 'city', 'province', 'postal_code',
       'property_sub_type', 'structure_type', 'style', 'levels', 'room_count',
       'full_baths', 'half_baths', 'main_level_finished_area',
       'upper_lvl_fin_area', 'bg_fin_area', 'lot_size_sf', 'year_built',
       'roof', 'basement', 'cooling', 'heating', 'close_price', 'close_date',
       'public_remarks', 'latitude', 'longitude'],
      dtype='object')

In [71]:
properties_df

,id,address,bedrooms,gla,city,province,postal_code,property_sub_type,structure_type,style,...,year_built,roof,basement,cooling,heating,close_price,close_date,public_remarks,latitude,longitude
0,367,463 Conservatory Dr,3.0,1500.0,Kingston,Ontario,K7M 9C8,Detached,Detached,"Brick, Vinyl Siding",...,NaN,None,Unfinished,Central Air,Forced Air,674000.0,2025-01-13,Welcome to this beautifully maintained and spa...,44.2325,-76.5901
1,163443,463 Conservatory Drive,3.0,1750.0,Kingston,Ontario,K7M 9C8,Detached,"Detached, 2-Storey",2-Storey,...,NaN,,Unfinished,Central Air,Forced Air,674000.0,2025-01-13,Welcome to this beautifully maintained and spa...,44.2325,-76.5901
2,378,311 Janette St,3.0,1500.0,Kingston,Ontario,K7P 0K8,Freehold Townhouse,Freehold Townhouse,2-Storey,...,NaN,None,Fin W/O,Central Air,Forced Air,585000.0,2025-01-14,"Come and see what this fully finished, Barr co...",44.2622,-76.5904
3,130023,311 Janette Street,3.0,1300.0,Kingston,Ontario,K7P 0K8,Freehold Townhouse,"Freehold Townhouse, 2-Storey",2-Storey,...,NaN,,Finished with Walk-Out,Central Air,Forced Air,585000.0,2025-01-14,"Come and see what this fully finished, Barr co...",44.2622,-76.5904
4,2782,4056 Bath Rd,4.0,NaN,Kingston,Ontario,K7M 4Y4,Rural Resid,Rural Resid,2-Storey,...,NaN,None,"Part Bsmt, Unfinished",None,Baseboard,685000.0,2025-01-15,"Current valuation for 4056 Bath Rd, South of T...",44.2407,-76.6102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9815,282586,13 Aragon Road,3.0,1750.0,Kingston,Ontario,K0H 1S0,Detached,"Detached, 1 1/2 Storey",1 1/2 Storey,...,NaN,,Full,Central Air,Forced Air,755000.0,2025-04-30,"Aragon Road. Minutes to Downtown Kingston, thi...",44.3197,-76.4306
9816,288860,1029 Bluffwood Avenue,4.0,3250.0,Kingston,Ontario,K7K 0E3,Detached,"Detached, 2-Storey",2-Storey,...,NaN,,Finished,Central Air,Forced Air,970000.0,2025-05-02,Welcome to 1029 Bluffwood Avenue A Stunning T...,44.2701,-76.4382
9817,286281,491 Maple Lawn Drive,4.0,4250.0,Kingston,Ontario,K0H 1S0,Detached,"Detached, 1 1/2 Storey",1 1/2 Storey,...,NaN,,None,Central Air,Forced Air,1155000.0,2025-05-06,Welcome to your dream estate in the prestigiou...,44.3013,-76.4600
9818,286938,1224 Greenwood Park Drive,4.0,2250.0,Kingston,Ontario,K7K 0E1,Detached,"Detached, 2-Storey",2-Storey,...,NaN,,"Full, Partially Finished",Central Air,Forced Air,760000.0,2025-05-06,"Welcome to 1224 Greenwood Park Drive, a four b...",44.2690,-76.4404
9819,288707,1018 Rainbow Crescent,3.0,1300.0,Kingston,Ontario,K7K 7J3,Detached,"Detached, 2-Storey",2-Storey,...,NaN,,"Full, Finished",Central Air,Forced Air,570000.0,2025-05-08,ENSUITE & WALK-IN CLOSET YOUR PRIVATE PRIMARY...,44.2697,-76.4429

In [98]:
def parse_gla(val):
    if pd.isnull(val):
        return None
    val = str(val).lower().strip()
    # Handle common square footage patterns
    match = re.search(r"[\d,\.]+", val)
    if match:
        try:
            # Remove commas and convert to float
            return float(match.group(0).replace(",", ""))
        except ValueError:
            return None
    return None

In [99]:
comps_df['parse_gla'] = comps_df['gla'].apply(parse_gla)
properties_df['parse_gla'] = properties_df['gla'].apply(parse_gla)

In [107]:
properties_df['gla'].isna().sum()

np.int64(176)

In [85]:
def parse_num_beds(val):
    if pd.isnull(val):
        return None
    if isinstance(val, (int, float)):
        return val
    val = str(val).strip()
    if '+' in val:
        parts = re.findall(r'\d+', val)
        return sum(int(x) for x in parts)
    if val.isdigit():
        return int(val)
    try:
        return float(val)
    except ValueError:
        return None

In [90]:
comps_df['parsed_beds'] = comps_df['bed_count'].apply(parse_num_beds)
properties_df['parsed_beds'] = properties_df['bedrooms'].apply(parse_num_beds)

In [111]:
properties_df['parsed_beds'].isna().sum() == properties_df['bedrooms'].isna().sum()

np.True_

In [88]:
comps_df['parsed_beds'].unique()

array([3, 2, 4, 5, 1, 6, 7, 8])

In [116]:
comps_df['parsed_baths'] = comps_df['bath_count'].apply(parse_baths_num)
properties_df['parsed_half_baths'] = properties_df['half_baths'].apply(parse_baths_num)
properties_df['parsed_full_baths'] = properties_df['full_baths'].apply(parse_baths_num)

In [114]:
comps_df['parsed_baths'].unique()

array([2. , 1. , 3. , 2.5, 4. , 1.5, 3.5, 4.5, 0. , 5. ])

In [138]:
properties_df['half_baths'].isna().sum()

np.int64(6272)

In [137]:
properties_df['full_baths'].isna().sum()

np.int64(3424)

In [123]:
def parse_total_baths(full, half):
    try:
        full = float(full) if pd.notna(full) else 0
        half = float(half) if pd.notna(half) else 0
        return full + 0.5 * half
    except:
        return None

# Apply to the DataFrame
properties_df["total_baths"] = properties_df.apply(
    lambda row: parse_total_baths(row["full_baths"], row["half_baths"]),
    axis=1
)

In [139]:
properties_df['total_baths'].unique()

array([ 3. ,  0. ,  4. ,  2. ,  3.5,  1. ,  1.5,  2.5,  4.5,  5.5,  5. ,
        6. , 10. ,  6.5,  0.5])

In [140]:
properties_df['year_built'].unique()

array([      nan, 4.000e+01, 7.500e+01, 1.000e+01, 2.010e+03, 1.967e+03,
       2.021e+03, 1.918e+03, 2.013e+03, 1.995e+03, 1.945e+03, 1.934e+03,
       1.998e+03, 1.980e+03, 1.875e+03, 1.950e+03, 2.004e+03, 1.991e+03,
       2.017e+03, 2.015e+03, 2.014e+03, 2.012e+03, 2.018e+03, 2.023e+03,
       2.016e+03, 2.006e+03, 2.003e+03, 2.020e+03, 2.022e+03, 1.992e+03,
       2.009e+03, 1.983e+03, 2.007e+03, 1.870e+03, 2.011e+03, 1.985e+03,
       2.002e+03, 2.019e+03, 1.981e+03, 1.900e+03, 2.024e+03, 1.984e+03,
       1.954e+03, 1.969e+03, 1.948e+03, 1.978e+03, 2.000e+03, 1.988e+03,
       1.971e+03, 1.975e+03, 1.973e+03, 1.972e+03, 1.940e+03, 1.994e+03,
       1.982e+03, 1.965e+03, 1.952e+03, 1.996e+03, 1.989e+03, 2.001e+03,
       1.935e+03, 1.963e+03, 1.977e+03, 1.986e+03, 1.979e+03, 1.970e+03,
       1.974e+03, 1.999e+03, 1.993e+03, 1.987e+03, 1.976e+03, 2.008e+03,
       2.300e+01, 1.956e+03, 1.958e+03, 1.944e+03, 1.938e+03, 1.990e+03,
       1.943e+03, 1.946e+03, 1.955e+03, 1.953e+03, 1.951e+03, 1.997e+03,
       1.939e+03, 1.949e+03, 2.025e+03, 1.915e+03, 1.947e+03, 1.926e+03,
       1.959e+03, 2.005e+03, 1.936e+03, 1.968e+03, 1.961e+03, 2.000e+00,
       1.850e+03, 8.000e+00, 1.964e+03, 1.962e+03, 1.957e+03, 1.966e+03,
       2.026e+03, 1.912e+03, 1.911e+03, 1.914e+03, 1.910e+03, 1.929e+03,
       1.913e+03, 1.922e+03, 1.928e+03, 1.937e+03, 1.925e+03, 1.941e+03,
       1.907e+03, 1.917e+03, 1.908e+03, 1.923e+03, 1.905e+03, 1.901e+03,
       1.932e+03, 1.960e+03, 1.942e+03, 1.863e+03, 1.829e+03, 1.300e+01,
       1.920e+03, 1.931e+03, 1.924e+03, 1.930e+03, 1.903e+03, 1.919e+03,
       1.933e+03, 1.885e+03])

In [141]:
def parse_year_built(val):
    try:
        if np.isnan(val):
            return np.nan
        if val > 1800:  # Proper year
            return int(val)
        elif 0 < val < 100:  # Probably shorthand, e.g., '40' => 1940
            return int(1900 + val) if val > 30 else int(2000 + val)
        else:
            return np.nan
    except:
        return np.nan

In [142]:
properties_df["parsed_year_built"] = properties_df["year_built"].apply(parse_year_built)

In [145]:
properties_df["parsed_year_built"].unique()

array([  nan, 1940., 1975., 2010., 1967., 2021., 1918., 2013., 1995.,
       1945., 1934., 1998., 1980., 1875., 1950., 2004., 1991., 2017.,
       2015., 2014., 2012., 2018., 2023., 2016., 2006., 2003., 2020.,
       2022., 1992., 2009., 1983., 2007., 1870., 2011., 1985., 2002.,
       2019., 1981., 1900., 2024., 1984., 1954., 1969., 1948., 1978.,
       2000., 1988., 1971., 1973., 1972., 1994., 1982., 1965., 1952.,
       1996., 1989., 2001., 1935., 1963., 1977., 1986., 1979., 1970.,
       1974., 1999., 1993., 1987., 1976., 2008., 1956., 1958., 1944.,
       1938., 1990., 1943., 1946., 1955., 1953., 1951., 1997., 1939.,
       1949., 2025., 1915., 1947., 1926., 1959., 2005., 1936., 1968.,
       1961., 1850., 1964., 1962., 1957., 1966., 2026., 1912., 1911.,
       1914., 1910., 1929., 1913., 1922., 1928., 1937., 1925., 1941.,
       1907., 1917., 1908., 1923., 1905., 1901., 1932., 1960., 1942.,
       1863., 1829., 1920., 1931., 1924., 1930., 1903., 1919., 1933.,
       1885.])

In [147]:
properties_df["property_age"] = current_year - properties_df["parsed_year_built"]
properties_df["property_age"].unique()

array([ nan,  85.,  50.,  15.,  58.,   4., 107.,  12.,  30.,  80.,  91.,
        27.,  45., 150.,  75.,  21.,  34.,   8.,  10.,  11.,  13.,   7.,
         2.,   9.,  19.,  22.,   5.,   3.,  33.,  16.,  42.,  18., 155.,
        14.,  40.,  23.,   6.,  44., 125.,   1.,  41.,  71.,  56.,  77.,
        47.,  25.,  37.,  54.,  52.,  53.,  31.,  43.,  60.,  73.,  29.,
        36.,  24.,  90.,  62.,  48.,  39.,  46.,  55.,  51.,  26.,  32.,
        38.,  49.,  17.,  69.,  67.,  81.,  87.,  35.,  82.,  79.,  70.,
        72.,  74.,  28.,  86.,  76.,   0., 110.,  78.,  99.,  66.,  20.,
        89.,  57.,  64., 175.,  61.,  63.,  68.,  59.,  -1., 113., 114.,
       111., 115.,  96., 112., 103.,  97.,  88., 100.,  84., 118., 108.,
       117., 102., 120., 124.,  93.,  65.,  83., 162., 196., 105.,  94.,
       101.,  95., 122., 106.,  92., 140.])

In [152]:
comps_df['age'].unique()

array(['49', '11+/-', '12+/-', '58 +/-', '1+/-', '40 +/-', '2018 +/-',
       '2011 +/-', '1976 +/-', '47yrs+/-', '25yrs+/-', '19yrs+/-',
       '36+/-', '45+/-', '39+/-', '95', '77', '81', '2022', '2021',
       '2020', '20+/-', '19+/-', '17+/-', '2024', '2018', '21+/-',
       '54+/-', '34+/-', '25', '24', '23', '4+/-', '44+/-', '13', '5',
       '46', '25+/-yrs', '28+/-yrs', '21+/-yrs', '2009 +/-', '2012 +/-',
       '2007 +/-', '12', '37', '100+', '32', '2016', '2019', '1952',
       '1945', '1951', '10', '9', '1998', '2012', '2017', '11',
       '2024 +/-', '2019 +/-', '1953', '1944', '1949', '2003', '2008',
       '2006', '2013', '2023', '2015', '4yrs+/-', '36', '2002', '2000',
       '42+/-', '80+/-', '3', '4', '8', '27', '30', '64+/-', '38+/-',
       '65+/-', '1995 +/-', '1996 +/-', '1993 +/-', '69+/-', '72+/-',
       '102+/-', '95+/-', '28+/-', '22+/-', '18+/-', '70+/-', '71+/-',
       '51+/-', '1907 +/-', '1867 +/-', '1961 +/-', '1960 +/-',
       '1956 +/-', '1970', '1974', '2016 +/-', '2023 +/-', '1920', '1986',
       '1928', '2024±', '2023±', '59+/-', '79+/-', '90', '115', '100+/-',
       '40+/-', '2015 +/-', '2013 +/-', '2022 +/-', '47', '51',
       '2021 +/-', '2020 +/-', '100+ / 10', '35', '45', '1991', '2011',
       '2004', '1996', '1997', '50', '54', '1962', '1950±', '1970±',
       '2005', '1995±', '1980', '52', '70', '48', '17', '14', '2014',
       '18', '15', '2', '1973', '1955', '33', '22 +/-', '26 +/-', '8+/-',
       '1990', '1987', '1992', '1979', '1983', '112', '141', '50 +/-',
       '35 +/-', '31 +/-', '105+/-', '60+/-', '125+/-'], dtype=object)

In [157]:
def parse_comp_age(value):
    if pd.isnull(value):
        return np.nan

    value_str = str(value)

    # If the value looks like a year (e.g. '2015 +/-')
    year_match = re.search(r"(19\d{2}|20\d{2})", value_str)
    if year_match:
        year = int(year_match.group(1))
        if 1800 <= year <= datetime.now().year:
            return datetime.now().year - year

    # Else look for first standalone number (age)
    num_match = re.search(r"\d{1,3}", value_str)  # allows up to 999 years old
    if num_match:
        return int(num_match.group(0))

    return np.nan

In [158]:
comps_df["parse_age"] = comps_df["age"].apply(parse_comp_age)
comps_df["parse_age"].unique()

array([ 49,  11,  12,  58,   1,  40,   7,  14,  47,  25,  19,  36,  45,
        39,  95,  77,  81,   3,   4,   5,  20,  17,  21,  54,  34,  24,
        23,  44,  13,  46,  28,  16,  18,  37, 100,  32,   9,   6,  73,
        80,  74,  10,  27,   8,  72,  76,  22,   2,  42,  30,  64,  38,
        65,  29,  69, 102,  70,  71,  51, 118, 186,  55, 105,  97,  59,
        79,  90, 115,  35,  50,  63,  75,  52,  48,  15,  33,  26, 112,
       141,  31,  60, 125])

In [168]:
properties_df['parse_lot_size_sf'] = properties_df['lot_size_sf'].apply(parse_lot_size)
comps_df['parse_lot_size_sf'] = comps_df['lot_size'].apply(parse_lot_size)

In [170]:
comps_df['lot_size']

0                N/A Condominium
1                N/A Condominium
2                N/A Condominium
3                   80212+/-SqFt
4                   61700+/-SqFt
                 ...
259                      2 Acres
260                     10 Acres
261    267' x Irreg / 0.87 Acres
262    353' x 1260' / 10.1 Acres
263        241' x Irreg / 1 Acre
Name: lot_size, Length: 264, dtype: object

In [175]:
properties_df['style']

0       Brick, Vinyl Siding
1                 2-Storey
2                  2-Storey
3                 2-Storey
4                  2-Storey
               ...
9815          1 1/2 Storey
9816              2-Storey
9817          1 1/2 Storey
9818              2-Storey
9819              2-Storey
Name: style, Length: 9820, dtype: object

In [180]:
def condition_from_age(age):
    if pd.isnull(age):
        return np.nan
    elif age <= 5:
        return "Excellent"
    elif age <= 15:
        return "Good"
    elif age <= 40:
        return "Average"
    else:
        return "Fair"

In [181]:
properties_df["condition_inferred"] = properties_df["property_age"].apply(condition_from_age)

In [182]:
properties_df["condition_inferred"].unique()

array([nan, 'Fair', 'Good', 'Excellent', 'Average'], dtype=object)

In [186]:
properties_df['structure_type'].unique()

array(['Detached', 'Detached, 2-Storey ', 'Freehold Townhouse',
       'Freehold Townhouse, 2-Storey ', 'Rural Resid',
       'Detached, Sidesplit 3 ', 'Detached, Sidesplit 4 ',
       'Detached, Bungalow ', 'Apartment', 'Condo Apartment, Apartment ',
       'Detached, Bungalow-Raised ', 'Semi-Detached',
       'Semi-Detached, 2-Storey ', 'Condo Townhouse, 2-Storey ',
       'Single Family Residence, Sidesplit ', 'Detached, Backsplit 4 ',
       'Condo Apt', 'Condo Townhouse', 'Detached, Backsplit 3 ',
       'Semi-Detached, Bungalow ', 'Semi-Detached, Bungalow-Raised ',
       'Condo Apartment, Bachelor/Studio ', 'Condo Townhouse, 3-Storey ',
       None, 'Semi-Detached, Backsplit 3 ', 'Condo Apartment, 2-Storey ',
       'Detached, Sidesplit ', 'Common Element Condo, Apartment ',
       'Detached, 1 1/2 Storey ', 'Detached, Other ', 'Duplex, Bungalow ',
       'Single Family', 'Duplex', 'Row/Townhouse, Two Story ',
       'Single Family Residence, Two Story ',
       'Single Family Residence, 3 Storey ',
       'Row/Townhouse, Stacked Townhouse ',
       'Single Family Residence, Backsplit ', 'Row/Townhouse, 3 Storey ',
       'Detached, Single Family Residence, Bungalow ',
       'Row/Townhouse, Bungalow ', 'Single Family Residence, Bungalow ',
       'Freehold Townhouse, 3-Storey ',
       'Semi Detached, Single Family Residence, Bungalow ',
       'Freehold Townhouse, Bungalow ',
       'Single Family Residence, 1.5 Storey ', 'Detached, Bungaloft ',
       'Condo/Apt Unit, Two Story ',
       'Single Family Residence, 2.5 Storey ',
       'Condo Townhouse, Stacked Townhouse ',
       'Semi Detached, Single Family Residence, Two Story ',
       'Condo/Apt Unit, 1 Storey/Apt ',
       'Single Family Residence, Bungalow Raised ', 'Link, 2-Storey ',
       'Condo Townhouse, 1 Storey/Apt ', 'Other, 2-Storey ',
       'Condo Townhouse, Bungalow ', 'Detached, 2 Storey ',
       'Detached, Bungalow(1 Storey) ', 'Bungalow', 'Detached, 3-Storey ',
       'Vacant Land ', 'Detached, 1 Storey/Apt ', 'Condominium',
       'Triplex', 'Condo Apt, Apartment ',
       'Row Unit, 3 Storey, 3 Storey ', '', 'MobileTrailer, Bungalow ',
       'Fourplex', 'Semi Detached (Half Duplex)', 'Row/Townhouse',
       'Residential Land', 'Stacked Townhse', 'Stacked, 2 Storey ',
       'Condo Apartment, 3-Storey ', 'Row Unit, 2 Storey, 2 Storey ',
       'Condo Townhouse, Other ', 'Condo Townhouse, Apartment ',
       'Condo Townhouse, Bungaloft ', 'Semi-Detached, 1 1/2 Storey ',
       'Freehold Townhouse, 2 1/2 Storey ', 'Multiplex',
       'Detached, 2 1/2 Storey ', 'Semi-Detached, 2 1/2 Storey ',
       'Multiplex, 3-Storey ', 'Link, 2 1/2 Storey ', 'Duplex, 2-Storey ',
       'Duplex, 3-Storey ', 'Condo Townhouse, Multi-Level ', '4 plex',
       'Detached Single Family', 'Residential', 'Link', 'Row Unit',
       'Condo Apartment, 1 Storey/Apt ', 'Full Duplex', 'Mobile',
       'Condo Apartment, Loft ', 'Condo Apartment, Multi-Level ',
       'Condo Apt, Loft ', 'Condo Apartment, Other ',
       'Semi-Detached, 3-Storey ', 'Locker ',
       'Rural Residential, Bungalow-Raised ',
       'Common Element Condo, Loft ',
       'Condo Apartment, Stacked Townhouse ', 'Apartment, One Level ',
       'Condo Apartment, Bungalow ',
       'Detached, Single Family Residence, Two Story ',
       'Semi-Detached, Backsplit 4 ', 'Multiplex, 1 1/2 Storey ',
       'Triplex, 2-Storey ', 'Fourplex, 2-Storey ',
       'Triplex, 1 1/2 Storey ', 'Detached, Backsplit 5 ',
       'Detached, Freehold, 2 Storey ',
       'Semi Detached, Single Family Residence, Bungalow Raised ',
       'Single Family Residence, Split Level ',
       'Single Family Residence ', 'Detached, Agriculture, Bungalow ',
       'Mobile Home, Mobile ', 'Farm, 2-Storey ',
       'Row/Townhouse, Split Level ',
       'Semi Detached, Single Family Residence, Backsplit ',
       'Detached, Single Family Residence, Backsplit ',
       'Row/Townhouse, Bungalow Raised ', 'Row/Townhouse, Backsplit ',
       'Single Family Residence'], dtype=object)

In [ ]:
comps_df[''].unique()

KeyError: 'structure_type'

In [187]:
def parse_structure_type(value):
    if pd.isna(value):
        return np.nan
    value = value.lower()
    if "townhouse" in value:
        return "Townhouse"
    elif "detached" in value:
        return "Detached"
    elif "semi" in value:
        return "Semi Detached"
    elif "duplex" in value:
        return "Duplex"
    elif "triplex" in value:
        return "Triplex"
    elif "fourplex" in value:
        return "Fourplex"
    elif "condo" in value or "condominium" in value:
        return "Condominium"
    elif "high rise" in value:
        return "High Rise Apartment"
    elif "low rise" in value:
        return "Low Rise Apartment"
    else:
        return "Unknown"

In [194]:
properties_df['parse_structure_type'] = properties_df['structure_type'].apply(parse_structure_type)
comps_df['parse_structure_type'] = comps_df['prop_type']

In [195]:
properties_df

,id,address,bedrooms,gla,city,province,postal_code,property_sub_type,structure_type,style,...,parsed_beds,parse_gla,parsed_half_baths,parsed_full_baths,total_baths,parsed_year_built,property_age,parse_lot_size_sf,condition_inferred,parse_structure_type
0,367,463 Conservatory Dr,3.0,1500.0,Kingston,Ontario,K7M 9C8,Detached,Detached,"Brick, Vinyl Siding",...,3.0,1500.0,NaN,0.0,3.0,NaN,NaN,3555.5,NaN,Detached
1,163443,463 Conservatory Drive,3.0,1750.0,Kingston,Ontario,K7M 9C8,Detached,"Detached, 2-Storey",2-Storey,...,3.0,1750.0,NaN,NaN,0.0,NaN,NaN,3535.0,NaN,Detached
2,378,311 Janette St,3.0,1500.0,Kingston,Ontario,K7P 0K8,Freehold Townhouse,Freehold Townhouse,2-Storey,...,3.0,1500.0,NaN,0.0,4.0,NaN,NaN,2622.0,NaN,Townhouse
3,130023,311 Janette Street,3.0,1300.0,Kingston,Ontario,K7P 0K8,Freehold Townhouse,"Freehold Townhouse, 2-Storey",2-Storey,...,3.0,1300.0,NaN,NaN,0.0,NaN,NaN,2622.0,NaN,Townhouse
4,2782,4056 Bath Rd,4.0,NaN,Kingston,Ontario,K7M 4Y4,Rural Resid,Rural Resid,2-Storey,...,4.0,NaN,0.0,0.0,4.0,NaN,NaN,16672.0,NaN,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9815,282586,13 Aragon Road,3.0,1750.0,Kingston,Ontario,K0H 1S0,Detached,"Detached, 1 1/2 Storey",1 1/2 Storey,...,3.0,1750.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Detached
9816,288860,1029 Bluffwood Avenue,4.0,3250.0,Kingston,Ontario,K7K 0E3,Detached,"Detached, 2-Storey",2-Storey,...,4.0,3250.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Detached
9817,286281,491 Maple Lawn Drive,4.0,4250.0,Kingston,Ontario,K0H 1S0,Detached,"Detached, 1 1/2 Storey",1 1/2 Storey,...,4.0,4250.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Detached
9818,286938,1224 Greenwood Park Drive,4.0,2250.0,Kingston,Ontario,K7K 0E1,Detached,"Detached, 2-Storey",2-Storey,...,4.0,2250.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Detached
9819,288707,1018 Rainbow Crescent,3.0,1300.0,Kingston,Ontario,K7K 7J3,Detached,"Detached, 2-Storey",2-Storey,...,3.0,1300.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,Detached

In [196]:
comps_df

,distance_to_subject,prop_type,stories,address,city_province,sale_date,sale_price,dom,location_similarity,lot_size,...,bath_count,basement_finish,parking,neighborhood,parse_gla,parsed_beds,parsed_baths,parse_age,parse_lot_size_sf,parse_structure_type
0,0.15 KM,Townhouse,2 Storey,930 Amberdale Cres,Kingston ON K7M 6V1,Oct/25/2024,"378,900",38,Similar,N/A Condominium,...,2:0,Full/Finished,No Garage,,1044.0,3,2.0,49,NaN,Townhouse
1,0.02 KM,Townhouse,2 Storey,771 Ashwood Dr,Kingston ON K7M 6X7,Feb/05/2025,"327,000",51,Inferior,N/A Condominium,...,1:0,Full/Finished,No Garage,,1044.0,3,1.0,49,NaN,Townhouse
2,0.09 KM,Townhouse,2 Storey,995 Amberdale Cres,Kingston ON K7M 6X6,Feb/14/2025,"315,000",95,Inferior,N/A Condominium,...,2:0,Full/Part Finished,No Garage,,1044.0,3,2.0,49,NaN,Townhouse
3,3.73 KM,Detached,1 Storey,64 Deermist Dr,Porters Lake NS B3E 1P3,Jan/16/2025,"800,000",141+/-,Inferior,80212+/-SqFt,...,2:0,Full/Finished,Dbl. Att. Gar.,,1602.0,3,2.0,11,80212.0,Detached
4,8.98 KM,Detached,1 Storey,85 Oceanic Dr,East Lawrencetown NS B2Z 1T6,Dec/21/2024,"950,000",280+/-,Inferior,61700+/-SqFt,...,2:0,Full/Finished,1.5Att.Gar./Dbl.Att.Gar.,,2100.0,3,2.0,11,61700.0,Detached
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,11.17 KM,Detached,Bungalow,5739 Sixth Line,Hillsburgh ON N0B 1Z0,Feb/09/2025,"1,490,000",32 +/-,Similar,2 Acres,...,2F,Full/Finished,1.5 car attached garage,,1634.0,3,2.0,35,87120.0,Detached
260,12.14 KM,Detached,Bungalow,7167 Seventh Line,Belwood ON N0B 1J0,Nov/20/2024,"1,150,000",15 +/-,Similar,10 Acres,...,1F,None,No garage,,1610.0,3,1.0,31,435600.0,Detached
261,2.94 KM,Detached,1.5 Storey,2738 Isle of Man Rd,Kingston ON K7L 4V3,Nov/20/2024,"435,000",168,Superior,267' x Irreg / 0.87 Acres,...,1:1,Crawl Space,Sgl. Att. Gar.,,814.0,2,1.5,105,11630520.0,Detached
262,9.98 KM,Detached,Bungalow,2480 Hitchcock Rd,Joyceville ON K0H 1Y0,Nov/18/2024,"349,000",18,Inferior,353' x 1260' / 10.1 Acres,...,1:0,Cellar,No Garage,,1350.0,3,1.0,60,15376680.0,Detached
263,6.44 KM,Detached,2 Storey,1996 McFarlane Rd,Kingston ON K7L 4V3,Oct/04/2024,"400,000",98,Similar,241' x Irreg / 1 Acre,...,1:0,Cellar,Trpl. Det. Gar.,,984.0,3,1.0,125,10497960.0,Detached

In [209]:
normalized_df

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,structure_High Rise Apartment,structure_Low Rise Apartment,structure_Semi Detached,structure_Townhouse,structure_Triplex,structure_Unknown,condition_encoded,cleaned_address,latitude,longitude
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,n/a,SqFt,...,0,0,0,1,0,0,2,Oakview Ave Kingston ON K7M 6W8,44.248478,-76.589595
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,0,0,0,0,0,0,2,207 HWY Halifax NS B0J2L0,44.692815,-63.254940
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,0,0,0,0,0,0,2,PAUL AVE Ayr ON N0B1E0,43.345210,-80.474270
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,0,0,0,0,0,0,3,Stonewalk Dr Kemptville ON K0G 1J0,44.988916,-75.703683
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,N/A,N/A,...,0,0,0,0,0,0,2,105 Dunbrack St Halifax NS B3M3G7,44.655836,-63.650765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,4778326,"[{'distance_to_subject': '0.47 KM', 'prop_type...","[{'id': 12120, 'address': '163 Hidden Valley M...",184 Sandpiper Cir NW Calgary AB T3K3P4,Calgary AB T3K3P4,May/05/2025,"Calgary, AB / Sandstone Valley",10.05m x 45.23m,759 SqM,SqM,...,0,0,0,0,0,0,3,Sandpiper Cir NW Calgary AB T3K3P4,51.137993,-114.097658
84,4758996,"[{'distance_to_subject': '0.03 KM', 'prop_type...","[{'id': 10480, 'address': '10 Tipping Close SE...",160 Marquis Pl SE Airdrie AB T4A1Y7,Airdrie AB T4A1Y7,Apr/09/2025,"Airdrie, AB / Meadowbrook",14.32m x 37.80m,541 SqM,SqM,...,0,0,0,0,0,0,2,Marquis Pl SE Airdrie AB T4A1Y7,51.271945,-113.988879
85,4775785,"[{'distance_to_subject': '4.67 KM', 'prop_type...","[{'id': 22737, 'address': '4232 Camden Portlan...",1841 Fisk Rd Odessa ON K0H2H0,Odessa ON K0H2H0,Apr/30/2025,"Loyalist Township, County of Lennox and Addington",830' x Irregular,10 Acres,Acres,...,0,0,0,0,0,0,2,Fisk Rd Odessa ON K0H2H0,44.329878,-76.716464
86,4775292,"[{'distance_to_subject': '16.85 KM', 'prop_typ...","[{'id': 178462, 'address': '6135 Second Line '...",64232 COUNTY RD 3 East Garafraxa ON L9W7J4,East Garafraxa ON L9W7J4,May/02/2025,"Township of East Garafraxa, County of Dufferin",223.32' x 1966.85',10 Acres,Acres,...,0,0,0,0,0,0,2,COUNTY RD 3 East Garafraxa ON L9W7J4,43.861747,-80.182860
87,4723364,"[{'distance_to_subject': '2.94 KM', 'prop_type...","[{'id': 20272, 'address': '1313 Greenwood Park...",1050 John F. Scott Rd Kingston ON K7L4V3,Kingston ON K7L4V3,Feb/13/2025,Kingston,1531.45' x Irregular,14 Acres,Acres,...,0,0,0,0,0,0,2,John F. Scott Rd Kingston ON K7L4V3,44.298564,-76.417694

In [210]:
# Step 1: Count number of properties per row in normalized_df
property_counts = normalized_df["properties"].apply(len)

# Step 2: Repeat the orderID for each property
group_ids = normalized_df["orderID"].repeat(property_counts).reset_index(drop=True)

# Step 3: Add it to properties_df
properties_df["group_id"] = group_ids

In [211]:
comp_counts = normalized_df["comps"].apply(len)
comp_group_ids = normalized_df["orderID"].repeat(comp_counts).reset_index(drop=True)
comps_df["group_id"] = comp_group_ids

In [217]:
comps_df['group_id'].unique()

array([4762597, 4762739, 4763065, 4763086, 4763087, 4764094, 4764103,
       4761696, 4762154, 4762330, 4762406, 4761220, 4761433, 4761446,
       4759647, 4759723, 4760530, 4760630, 4760651, 4760900, 4742669,
       4752865, 4755196, 4756192, 4756320, 4756829, 4757939, 4757966,
       4758025, 4758316, 4758324, 4758529, 4758615, 4758672, 4759024,
       4759088, 4759260, 4759498, 4759512, 4759561, 4759562, 4759604,
       4759846, 4764028, 4766326, 4766430, 4767066, 4768014, 4768037,
       4763606, 4763898, 4765154, 4765502, 4765899, 4765948, 4768126,
       4768528, 4769110, 4769269, 4770115, 4770310, 4771097, 4771029,
       4771641, 4772017, 4772152, 4775892, 4776066, 4773295, 4775247,
       4773534, 4773833, 4776648, 4777578, 4776534, 4776574, 4777828,
       4778535, 4778557, 4779669, 4778791, 4778794, 4778797, 4778326,
       4758996, 4775785, 4775292, 4723364])

In [222]:
from geopy.distance import geodesic

In [218]:
def compute_distance(row, subject_coords_dict):
    subject_coords = subject_coords_dict.get(row['group_id'])
    property_coords = (row['latitude'], row['longitude'])
    
    if subject_coords and not pd.isnull(row['latitude']) and not pd.isnull(row['longitude']):
        return geodesic(subject_coords, property_coords).km
    else:
        return None

In [220]:
subject_coords_dict = normalized_df.set_index('orderID')[['latitude', 'longitude']].apply(tuple, axis=1).to_dict()

In [223]:
properties_df['distance_to_subject_km'] = properties_df.apply(
    lambda row: compute_distance(row, subject_coords_dict),
    axis=1
)

In [ ]:
properties_df['distance_to_subject_km']

np.int64(0)

In [228]:
properties_df.columns

Index(['id', 'address', 'bedrooms', 'gla', 'city', 'province', 'postal_code',
       'property_sub_type', 'structure_type', 'style', 'levels', 'room_count',
       'full_baths', 'half_baths', 'main_level_finished_area',
       'upper_lvl_fin_area', 'bg_fin_area', 'lot_size_sf', 'year_built',
       'roof', 'basement', 'cooling', 'heating', 'close_price', 'close_date',
       'public_remarks', 'latitude', 'longitude', 'parsed_beds', 'parse_gla',
       'parsed_half_baths', 'parsed_full_baths', 'total_baths',
       'parsed_year_built', 'property_age', 'parse_lot_size_sf',
       'condition_inferred', 'parse_structure_type', 'group_id',
       'distance_to_subject_km'],
      dtype='object')

In [227]:
comps_df.columns

Index(['distance_to_subject', 'prop_type', 'stories', 'address',
       'city_province', 'sale_date', 'sale_price', 'dom',
       'location_similarity', 'lot_size', 'age', 'condition', 'gla',
       'room_count', 'bed_count', 'bath_count', 'basement_finish', 'parking',
       'neighborhood', 'parse_gla', 'parsed_beds', 'parsed_baths', 'parse_age',
       'parse_lot_size_sf', 'parse_structure_type', 'group_id'],
      dtype='object')

In [226]:
normalized_df.columns

Index(['orderID', 'comps', 'properties', 'subject.address',
       'subject.subject_city_province_zip', 'subject.effective_date',
       'subject.municipality_district', 'subject.site_dimensions',
       'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built',
       'subject.roofing', 'subject.effective_age', 'subject.style',
       'subject.construction', 'subject.remaining_economic_life',
       'subject.windows', 'subject.basement', 'subject.exterior_finish',
       'subject.basement_area', 'subject.foundation_walls', 'subject.flooring',
       'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type',
       'subject.water_heater', 'subject.cooling', 'subject.room_count',
       'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area',
       'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla',
       'subject.subject_age', 'subject.num_baths', 'subject.condition',
       'gla_sqft', 'beds_num', 'baths_num', 'lot_size_sqft',
       'parsed_year_built', 'property_age', 'structure_Condominium',
       'structure_Detached', 'structure_Duplex', 'structure_Fourplex',
       'structure_High Rise Apartment', 'structure_Low Rise Apartment',
       'structure_Semi Detached', 'structure_Townhouse', 'structure_Triplex',
       'structure_Unknown', 'condition_encoded', 'cleaned_address', 'latitude',
       'longitude'],
      dtype='object')

In [229]:
# Create lookup from comps
comp_keys = set(comps_df[["group_id", "address"]].apply(tuple, axis=1))

# Add target label to properties_df
properties_df["is_comp"] = properties_df.apply(
    lambda row: 1 if (row["group_id"], row["address"]) in comp_keys else 0,
    axis=1
)

In [232]:
condition_map = {
    'Poor': 1,
    'Fair': 2,
    'Average': 3,
    'Good': 4,
    'Excellent': 5
}
properties_df["condition_inferred"] = properties_df["condition_inferred"].map(condition_map)

In [233]:
properties_df["parse_structure_type"] = pd.to_numeric(properties_df["parse_structure_type"], errors='coerce')

In [234]:
from sklearn.preprocessing import StandardScaler

feature_cols = [
    "distance_to_subject_km", "parse_gla", "parse_lot_size_sf",
    "property_age", "parsed_beds", "total_baths", 
    "condition_inferred", "parse_structure_type"
]

X = properties_df[feature_cols].fillna(0)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [236]:
cluster_assignments = (
    properties_df.groupby("group_id", group_keys=False)
    .apply(lambda df: pd.Series(run_kmeans_for_group(df), index=df.index))
)

# Then safely assign it
properties_df["cluster"] = cluster_assignments

C:\Users\edwar\AppData\Local\Temp\ipykernel_42664\3412368852.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  properties_df.groupby("group_id", group_keys=False)

In [238]:
# Step 1: Reset index to ensure unique labels
properties_df = properties_df.reset_index(drop=True)

# Step 2: Run clustering and get labels
cluster_labels = (
    properties_df.groupby("group_id", group_keys=False)
    .apply(lambda df: pd.Series(run_kmeans_for_group(df), index=df.index))
)

# Step 3: Assign to the DataFrame
properties_df["cluster"] = cluster_labels

C:\Users\edwar\AppData\Local\Temp\ipykernel_42664\237635304.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  properties_df.groupby("group_id", group_keys=False)

In [240]:
print(properties_df.index.duplicated().sum())

0

In [242]:
# Ensure index is clean
properties_df = properties_df.reset_index(drop=True)

# Run groupby and keep index alignment explicitly
cluster_labels = (
    properties_df.groupby("group_id", group_keys=False)
    .apply(lambda df: pd.Series(run_kmeans_for_group(df), index=df.index))
)

# Now assign the result safely
properties_df["cluster"] = cluster_labels

C:\Users\edwar\AppData\Local\Temp\ipykernel_42664\1640541800.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  properties_df.groupby("group_id", group_keys=False)

In [244]:
print(len(cluster_labels), len(properties_df))
print(cluster_labels.index.equals(properties_df.index))  # Should be True

9820 9820
False

In [245]:
def run_kmeans_for_group(df):
    from sklearn.cluster import KMeans
    from sklearn.preprocessing import StandardScaler

    features = [
        "distance_to_subject_km", "parse_gla", "parse_lot_size_sf",
        "parsed_beds", "parsed_full_baths", "total_baths",
        "parsed_year_built", "property_age"
    ]

    # Drop rows with missing features
    df_clean = df.dropna(subset=features)

    if len(df_clean) < 2:
        return pd.Series([-1] * len(df), index=df.index)  # not enough for clustering

    # Scale features
    X = StandardScaler().fit_transform(df_clean[features])
    kmeans = KMeans(n_clusters=2, n_init=10, random_state=42)
    labels = kmeans.fit_predict(X)

    # Reconstruct full output aligned to original group_df
    out = pd.Series(-1, index=df.index)
    out.loc[df_clean.index] = labels
    return out

# Apply to each group and assign
properties_df["cluster"] = properties_df.groupby("group_id", group_keys=False).apply(run_kmeans_for_group)

C:\Users\edwar\AppData\Local\Temp\ipykernel_42664\538360608.py:28: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  properties_df["cluster"] = properties_df.groupby("group_id", group_keys=False).apply(run_kmeans_for_group)

In [246]:
print(properties_df["cluster"].value_counts(dropna=False))

cluster
-1    6654
 0    1661
 1    1505
Name: count, dtype: int64

In [249]:
# Step 1: Create a list of results with proper index tracking
results = []

for group_id, group_df in properties_df.groupby("group_id"):
    cluster_labels = run_kmeans_for_group(group_df)
    results.append(pd.Series(cluster_labels, index=group_df.index))

# Step 2: Concatenate all group results into a single Series
cluster_series = pd.concat(results)

# Step 3: Assign back to the main DataFrame
properties_df["cluster"] = cluster_series

In [252]:
# Collect all clustering results in a list, indexed properly
cluster_labels = []

for group_id, group_df in properties_df.groupby("group_id"):
    labels = run_kmeans_for_group(group_df)
    cluster_labels.append(pd.Series(labels, index=group_df.index))

# Concatenate to a single Series with index matching `properties_df`
cluster_series = pd.concat(cluster_labels)

# Now safely assign
properties_df["cluster"] = cluster_series

In [254]:
properties_df["cluster"] = (
    properties_df.groupby("group_id", group_keys=False)
    .apply(lambda df: pd.Series(run_kmeans_for_group(df), index=df.index))
)

C:\Users\edwar\AppData\Local\Temp\ipykernel_42664\3947906733.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  properties_df.groupby("group_id", group_keys=False)

In [256]:
grouped = properties_df.groupby("group_id").apply(lambda df: pd.Series(run_kmeans_for_group(df)))
print(grouped.index.duplicated().any())  # If True, you have duplicate indices

False

C:\Users\edwar\AppData\Local\Temp\ipykernel_42664\2370209139.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped = properties_df.groupby("group_id").apply(lambda df: pd.Series(run_kmeans_for_group(df)))

In [257]:
grouped = properties_df.groupby("group_id").apply(
    lambda df: pd.Series(run_kmeans_for_group(df), index=df.index)
)
print(grouped.index.equals(properties_df.index))

False

C:\Users\edwar\AppData\Local\Temp\ipykernel_42664\2776431880.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped = properties_df.groupby("group_id").apply(

In [ ]:
from sklearn.cluster import KMeans

def run_kmeans_for_group(group_df):
    if len(group_df) < 2:
        return [-1] * len(group_df)

    # You can adjust features as needed
    features = group_df[["parse_gla", "parsed_beds"]]

    km = KMeans(n_clusters=2, random_state=42)
    result = km.fit_predict(features)

    # Debugging safety check
    assert len(result) == len(group_df), f"Length mismatch: got {len(result)} vs expected {len(group_df)}"

    return result

In [259]:
# Count of comps in each cluster per group
cluster_summary = properties_df.groupby(["group_id", "cluster"]).size().unstack(fill_value=0)
print(cluster_summary)

cluster     0    1   2
group_id
4723364    11   20   2
4742669    54   58  62
4752865    40   41  60
4755196   130   30   5
4756192   318  166  53
...       ...  ...  ..
4778557     3   25  28
4778791    29   48   7
4778794    29   48   7
4778797    29   48   7
4779669    19   32  39

[88 rows x 3 columns]

In [261]:
print(properties_df.columns.tolist())

['id', 'address', 'bedrooms', 'gla', 'city', 'province', 'postal_code', 'property_sub_type', 'structure_type', 'style', 'levels', 'room_count', 'full_baths', 'half_baths', 'main_level_finished_area', 'upper_lvl_fin_area', 'bg_fin_area', 'lot_size_sf', 'year_built', 'roof', 'basement', 'cooling', 'heating', 'close_price', 'close_date', 'public_remarks', 'latitude', 'longitude', 'parsed_beds', 'parse_gla', 'parsed_half_baths', 'parsed_full_baths', 'total_baths', 'parsed_year_built', 'property_age', 'parse_lot_size_sf', 'condition_inferred', 'parse_structure_type', 'group_id', 'distance_to_subject_km', 'is_comp', 'cluster']

In [264]:
cluster_means = properties_df.groupby(["group_id", "cluster"])[["parse_gla", "parsed_beds", "total_baths", "parse_lot_size_sf"]].mean()
print(cluster_means.head())

                    parse_gla  parsed_beds  total_baths  parse_lot_size_sf
group_id cluster
4723364  0        1455.636364     2.818182     2.272727       10052.888889
         1        1961.100000     3.400000     0.050000       16762.875000
         2        2852.500000     4.500000     6.750000          92.000000
4742669  0        1007.000000     1.826923     1.842593         785.000000
         1        2513.103448     4.125000     3.922414        4251.351852

In [265]:
subject_summary = properties_df[properties_df["is_comp"] == 0].set_index("group_id")[
    ["parse_gla", "parsed_beds", "total_baths", "parse_lot_size_sf"]
]

In [267]:
from scipy.spatial.distance import euclidean

def find_closest_cluster(subject_row, group_clusters):
    distances = group_clusters.apply(
        lambda row: euclidean(row, subject_row), axis=1
    )
    return distances.idxmin()[-1]  # Get the 'cluster' from the (group_id, cluster) tuple

In [275]:
# Get unique subject rows with their group_id from properties_df
subject_ids = properties_df[properties_df["is_comp"] == False][["group_id"]].reset_index(drop=True)

# Add group_id to subject_summary
subject_df = subject_summary.copy()
subject_df["group_id"] = subject_ids["group_id"]

In [283]:
for var in dir():
    if isinstance(globals()[var], pd.DataFrame):
        print(f"{var}: {globals()[var].shape}")

X: (9820, 8)
X_imputed_knn_df: (88, 19)
_18: (5, 38)
_195: (9820, 42)
_196: (264, 26)
_197: (88, 57)
_201: (88, 57)
_203: (88, 57)
_208: (9820, 42)
_209: (88, 57)
_41: (88, 57)
_50: (88, 19)
_69: (264, 26)
_71: (9820, 42)
cluster_means: (264, 4)
cluster_summary: (88, 3)
comps_df: (264, 26)
data: (88, 1)
df: (88, 1)
group_clusters: (3, 4)
group_df: (90, 42)
matching_rows: (0, 4)
missing_coords: (10, 57)
normalized_df: (88, 57)
properties_df: (9820, 42)
subject_df: (9817, 5)
subject_ids: (9817, 1)
subject_row: (0, 4)
subject_summary: (9817, 4)

In [284]:
subject_df = _209  # or whatever your main cleaned DataFrame is

In [295]:
from scipy.spatial.distance import euclidean


def find_closest_cluster(subject_row, group_clusters):
    # Convert subject row to array
    subject_array = subject_row.to_numpy()

    # Check for NaNs
    if np.isnan(subject_array).any() or group_clusters.isnull().values.any():
        return None

    # Calculate distances
    distances = group_clusters.apply(lambda row: euclidean(row.to_numpy(), subject_array), axis=1)

    # Get index safely
    min_idx = distances.idxmin()
    return min_idx[1] if isinstance(min_idx, tuple) else min_idx

In [288]:
subject_df = subject_df.rename(columns={"orderID": "group_id"})

In [290]:
print(subject_df.columns)

Index(['group_id', 'comps', 'properties', 'subject.address',
       'subject.subject_city_province_zip', 'subject.effective_date',
       'subject.municipality_district', 'subject.site_dimensions',
       'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built',
       'subject.roofing', 'subject.effective_age', 'subject.style',
       'subject.construction', 'subject.remaining_economic_life',
       'subject.windows', 'subject.basement', 'subject.exterior_finish',
       'subject.basement_area', 'subject.foundation_walls', 'subject.flooring',
       'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type',
       'subject.water_heater', 'subject.cooling', 'subject.room_count',
       'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area',
       'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla',
       'subject.subject_age', 'subject.num_baths', 'subject.condition',
       'gla_sqft', 'beds_num', 'baths_num', 'lot_size_sqft',
       'parsed_year_built', 'property_age', 'structure_Condominium',
       'structure_Detached', 'structure_Duplex', 'structure_Fourplex',
       'structure_High Rise Apartment', 'structure_Low Rise Apartment',
       'structure_Semi Detached', 'structure_Townhouse', 'structure_Triplex',
       'structure_Unknown', 'condition_encoded', 'cleaned_address', 'latitude',
       'longitude'],
      dtype='object')

In [292]:
subject_df = subject_df[['group_id', 'gla_sqft', 'beds_num', 'baths_num', 'lot_size_sqft']].dropna()

In [299]:
valid_group_ids = set(subject_df["group_id"])
filtered_group_ids = [gid for gid in cluster_means.index.get_level_values(0).unique() if gid in valid_group_ids]

In [300]:
for group_id in filtered_group_ids:
    subject_row = subject_df.loc[subject_df["group_id"] == group_id,
                                 ['gla_sqft', 'beds_num', 'baths_num', 'lot_size_sqft']]

    if subject_row.empty:
        print(f"⚠️ No subject found for group_id {group_id}, skipping.")
        continue

    subject_row = subject_row.iloc[0]
    group_clusters = cluster_means.loc[group_id]

    try:
        closest = find_closest_cluster(subject_row, group_clusters)
        closest_clusters[group_id] = closest
    except Exception as e:
        print(f"❌ Error for group_id {group_id}: {e}")

In [301]:
print(subject_df["group_id"].unique())

[4762739 4763065 4763086 4764094 4764103 4761696 4762330 4762406 4761220
 4761433 4761446 4759647 4759723 4760530 4760630 4760651 4760900 4742669
 4752865 4755196 4756320 4756829 4757939 4758025 4758324 4758615 4758672
 4759024 4759088 4759260 4759498 4759512 4759561 4759562 4759604 4759846
 4764028 4766326 4768014 4768037 4763898 4765502 4765899 4765948 4768126
 4768528 4769269 4770115 4770310 4771029 4771641 4772017 4772152 4776066
 4773295 4775247 4773534 4773833 4777578 4776534 4776574 4778535 4778557
 4779669 4778326 4758996 4775785 4775292 4723364]

In [302]:
predicted_comps = []

for group_id, cluster_id in closest_clusters.items():
    group_comps = properties_df[
        (properties_df['group_id'] == group_id) &
        (properties_df['cluster'] == cluster_id)
    ]
    predicted_comps.append(group_comps)

In [303]:
predicted_comps_df = pd.concat(predicted_comps, ignore_index=True)

In [307]:
predicted_comps_df.head()

,id,address,bedrooms,gla,city,province,postal_code,property_sub_type,structure_type,style,...,total_baths,parsed_year_built,property_age,parse_lot_size_sf,condition_inferred,parse_structure_type,group_id,distance_to_subject_km,is_comp,cluster
0,19364,2209 Paul Boulevard,3.0,1697.0,Kingston,Ontario,K7L 4V3,Single Family Residence,"Single Family Residence, Bungalow",Bungalow,...,1.0,NaN,NaN,22200.0,NaN,NaN,4723364,0.840205,0,1
1,2057,441 HEATHCLIFFE Lane,4.0,2525.0,Kingston,Ontario,K0H 1S0,Detached,"Detached, 2-Storey",2-Storey,...,0.0,NaN,NaN,93541.0,NaN,NaN,4723364,2.985655,0,1
2,154802,1050 JOHN F. SCOTT ROAD,3.0,1997.0,Kingston,Ontario,K7L 4V3,Detached,"Detached, 2-Storey",2-Storey,...,0.0,NaN,NaN,0.0,NaN,NaN,4723364,0.063518,0,1
3,167255,1281 Greenwood Park Drive,4.0,2475.0,Kingston,Ontario,K7K 0E3,Detached,"Detached, 2-Storey",2-Storey,...,0.0,NaN,NaN,3990.0,NaN,NaN,4723364,3.593645,0,1
4,136469,63 Schooner Drive,3.0,900.0,Kingston,Ontario,K7K 7K1,Detached,"Detached, Bungalow",Bungalow,...,0.0,NaN,NaN,4270.0,NaN,NaN,4723364,3.842330,0,1

In [309]:
actual_comps = normalized_df[['orderID', 'comps']].copy()
actual_comps['comp_ids'] = actual_comps['comps'].apply(
    lambda x: set(comp['id'] for comp in x if isinstance(comp, dict) and 'id' in comp)
)

In [310]:
predicted_comps = properties_df[properties_df['cluster'] == 0]  # or best cluster

In [311]:
predicted_sets = predicted_comps.groupby('group_id')['id'].apply(set)

In [312]:
precision_list, recall_list, f1_list = [], [], []

for group in actual_comps['orderID']:
    true_set = actual_comps.loc[actual_comps['orderID'] == group, 'comp_ids'].values[0]
    pred_set = predicted_sets.get(group, set())

    tp = len(true_set & pred_set)
    fp = len(pred_set - true_set)
    fn = len(true_set - pred_set)

    precision = tp / (tp + fp) if (tp + fp) else 0
    recall = tp / (tp + fn) if (tp + fn) else 0
    f1 = 2 * precision * recall / (precision + recall) if (precision + recall) else 0

    precision_list.append(precision)
    recall_list.append(recall)
    f1_list.append(f1)

avg_precision = sum(precision_list) / len(precision_list)
avg_recall = sum(recall_list) / len(recall_list)
avg_f1 = sum(f1_list) / len(f1_list)

print(f"Precision: {avg_precision:.3f}, Recall: {avg_recall:.3f}, F1 Score: {avg_f1:.3f}")

Precision: 0.000, Recall: 0.000, F1 Score: 0.000